<li class="col-sm-4 col-xs-4" style="margin-top: 10px;">
	<div class="new-project bg-shadow add-margin-bottom">
		<div>
			<a href="#">
				<img src="/deal/img/22.jpg" width="100%" height="134">
			</a>
		</div>
		<div id="bx-pager">
			<a class="active" href="#" data-slide-index="0">
				<div class="new-project-body">
					<h2>title</h2>
					<i>text</i>
					<h2 class="price-off">10% OFF</h2>
				</div>
			</a>
		</div>
	</div>
</li>