/*!
 * Avocado Panel Theme
 *
 * Theme: Avocado
 *
 * Copyright 2013 Lychee Designs
 * 
 *
 */

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus,
.navbar-inverse .nav .dropdown-menu .active > a,
.navbar-inverse .nav .dropdown-menu .active > a:hover, 
.navbar-inverse .nav .dropdown-menu .active > a:focus {
	background-color:#72914C;
}



.breadcrumb ul li{
  float: left;
  margin-left: 0px;
  margin-right: 10px;
}

/** Paging **/
.paging {

	/*background:#fff;*/
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #999;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #c73e14;
}

p{
	font-size: 13px;
	margin-bottom: 20px;
	color: #333;
}

label{
	color:#111;
}


select option{
	color: #111;
}


.upload-deal-image{
    float: left;
    width: 180px;
    height:106px;
    margin-top:10px;
    margin-right:10px;
    padding:3px;

    text-align: center;

    border: 1px solid #CCC;
}
.deal-image-preview{
    float: left;
    width: 180px;
    height:106px;
    margin-top:10px;
    margin-right:10px;
    text-align: center;
    border: 1px solid #CCC;
    padding:3px;

    display: none;
}

.deal-image-preview img{
	width:100%;
	height:100%;
}

.deal-image{
    width: 250px;
    height: 149px;
    padding: 2px;
    border: 1px solid #DDD;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.deal-image img{
    width: 100%;
    height: 100%;
}
