@font-face {
  font-family: 'infinity-glyph';
  src: url('../fonts/infinity-glyph.eot?56582925');
  src: url('../fonts/infinity-glyph.eot?56582925#iefix') format('embedded-opentype'),
       url('../fonts/infinity-glyph.woff?56582925') format('woff'),
       url('../fonts/infinity-glyph.ttf?56582925') format('truetype'),
       url('../fonts/infinity-glyph.svg?56582925#infinity-glyph') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'infinity-glyph';
    src: url('../font/infinity-glyph.svg?56582925#infinity-glyph') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "infinity-glyph";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e801'; } /* '' */
.icon-behance:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e824'; } /* '' */
.icon-plus:before { content: '\e828'; } /* '' */
.icon-minus:before { content: '\e827'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-link:before { content: '\e80f'; } /* '' */
.icon-tags:before { content: '\e826'; } /* '' */
.icon-mic:before { content: '\e812'; } /* '' */
.icon-clock:before { content: '\e807'; } /* '' */
.icon-lightbulb:before { content: '\e806'; } /* '' */
.icon-resize-full-alt:before { content: '\e81f'; } /* '' */
.icon-angle-left:before { content: '\e808'; } /* '' */
.icon-angle-right:before { content: '\e80a'; } /* '' */
.icon-angle-up:before { content: '\e821'; } /* '' */
.icon-angle-down:before { content: '\e822'; } /* '' */
.icon-list:before { content: '\e823'; } /* '' */
.icon-suitcase-1:before { content: '\e811'; } /* '' */
.icon-circle-empty:before { content: '\e80b'; } /* '' */
.icon-dot-circled:before { content: '\e817'; } /* '' */
.icon-star-half-alt:before { content: '\e815'; } /* '' */
.icon-beaker:before { content: '\e813'; } /* '' */
.icon-puzzle:before { content: '\e818'; } /* '' */
.icon-dribbble:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-html5:before { content: '\e814'; } /* '' */
.icon-skype:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e819'; } /* '' */
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e81d'; } /* '' */
.icon-eye:before { content: '\e81e'; } /* '' */
.icon-download:before { content: '\e81c'; } /* '' */
.icon-feather:before { content: '\e81a'; } /* '' */
.icon-comment:before { content: '\e820'; } /* '' */
.icon-location:before { content: '\e80c'; } /* '' */
.icon-book-open:before { content: '\e81b'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-paper-plane:before { content: '\e80e'; } /* '' */
.icon-flow-parallel:before { content: '\e816'; } /* '' */
.icon-linkedin:before { content: '\e825'; } /* '' */
.icon-rocket:before { content: '\e802'; } /* '' */