
.icon-search:before { content: '\e801'; } /* '' */
.icon-behance:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e824'; } /* '' */
.icon-plus:before { content: '\e828'; } /* '' */
.icon-minus:before { content: '\e827'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-link:before { content: '\e80f'; } /* '' */
.icon-tags:before { content: '\e826'; } /* '' */
.icon-mic:before { content: '\e812'; } /* '' */
.icon-clock:before { content: '\e807'; } /* '' */
.icon-lightbulb:before { content: '\e806'; } /* '' */
.icon-resize-full-alt:before { content: '\e81f'; } /* '' */
.icon-angle-left:before { content: '\e808'; } /* '' */
.icon-angle-right:before { content: '\e80a'; } /* '' */
.icon-angle-up:before { content: '\e821'; } /* '' */
.icon-angle-down:before { content: '\e822'; } /* '' */
.icon-list:before { content: '\e823'; } /* '' */
.icon-suitcase-1:before { content: '\e811'; } /* '' */
.icon-circle-empty:before { content: '\e80b'; } /* '' */
.icon-dot-circled:before { content: '\e817'; } /* '' */
.icon-star-half-alt:before { content: '\e815'; } /* '' */
.icon-beaker:before { content: '\e813'; } /* '' */
.icon-puzzle:before { content: '\e818'; } /* '' */
.icon-dribbble:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-html5:before { content: '\e814'; } /* '' */
.icon-skype:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e819'; } /* '' */
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e81d'; } /* '' */
.icon-eye:before { content: '\e81e'; } /* '' */
.icon-download:before { content: '\e81c'; } /* '' */
.icon-feather:before { content: '\e81a'; } /* '' */
.icon-comment:before { content: '\e820'; } /* '' */
.icon-location:before { content: '\e80c'; } /* '' */
.icon-book-open:before { content: '\e81b'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-paper-plane:before { content: '\e80e'; } /* '' */
.icon-flow-parallel:before { content: '\e816'; } /* '' */
.icon-linkedin:before { content: '\e825'; } /* '' */
.icon-rocket:before { content: '\e802'; } /* '' */