body, ul, li {
    font-size:14px; 
    font-family:Arial, Helvetica, sans-serif;
    line-height:21px;
    text-align:left;
}

#menu {
    list-style:none;
    width:940px;
    /*margin:30px auto 0px auto;*/
    height:43px;
    padding:0px 20px 0px 10px;

    /* Rounded Corners */
    
    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;*/

    /* Background color and gradients */
    
    background: #8dc63f ;
    /*background: -moz-linear-gradient(top, #0272a7, #013953);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));*/
    
    /* Borders */
    
    /*border: 1px solid #002232;*/

    /*-moz-box-shadow:inset 0px 0px 1px #edf9ff;
    -webkit-box-shadow:inset 0px 0px 1px #edf9ff;
    box-shadow:inset 0px 0px 1px #edf9ff;*/

}

#menu li {
    float:left;
    display:block;
    text-align:center;
    position:relative;
    padding: 11px;
    padding-left: 20px;
    padding-right: 20px;
    /*margin-right:20px;*/
    border:none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

#menu li:hover {
    /*border: 1px solid #8cd63f;*/
    /*padding: 4px 9px 4px 9px;*/
    
    /* Background color and gradients */
    
    background: #FFF;
    /*background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));*/
    
    /* Rounded corners */
    
    /*-moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;*/
}

#menu li a {
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-size:17px; 
    color: #FFF;
    display:block;
    outline:0;
    text-decoration:none;
    /*text-shadow: 1px 1px 1px #000;*/
}

#menu li:hover a {
    color:#000;
}
#menu li .drop {
    padding-right:21px;
    background:url("../img/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
    background:url("../img/drop.gif") no-repeat right 7px;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
    margin:4px auto;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    border:1px solid #777777;
    border-top:none;
    
    /* Gradient background */
    background:#FFFFFF;
    /*background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));*/

    /* Rounded Corners */
    /*-moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;*/

    -webkit-box-shadow: 1px 1px 10px 1px #383D40;
    box-shadow: 1px 1px 10px 1px #383D40;

    z-index: 999;
}

.dropdown_1column {width: 220px;}
.dropdown_2columns {width: 440px;}
.dropdown_3columns {width: 650px;}
.dropdown_4columns {width: 880px;}
.dropdown_5columns {width: 1100px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left:-1px;
    top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.col_1 {width:200px;}
.col_2 {width:400px;}
.col_3 {width:600px;}
.col_4 {width:800px;}
.col_5 {width:1000px;}

.col_1 ul li a,
.col_2 ul li a,
.col_3 ul li a,
.col_4 ul li a,
.col_5 ul li a {
    margin: 6px 0;
    min-width: 140px;
}


#menu .menu-align-center ul li{
    text-align: center;
    color: #333;
    font-size: 14px;
}

#menu .menu_right {
    float:right;
    margin-right:0px;
}
#menu li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
    font-family:Arial, Helvetica, sans-serif;
    line-height:21px;
    font-size:12px;
    text-align:left;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    font-size:14px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
}
#menu p {
    line-height:18px;
    margin:0 0 10px 0;
}

#menu li:hover div a {
    font-size:12px;
    color:#333;
    padding: 4px 8px;
}
#menu li:hover div a:hover {
    color:#fff;
    background: #8dc63f ;
    text-shadow: none;
}
#menu li:hover div a.image-box {
    width: 200px;
    height: 119px;
    padding: 0;
}


.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}

.imgshadow { /* Better style on light background */
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}

#menu li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;

    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#menu li ul li {
    font-size:12px;
    line-height:24px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:200px;
}
#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}

#menu li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;

    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}

.sub-nav .title{
    float: left;
}

.count{
    float: right;
    color: #666;
    border-radius: 10px;
    /*margin-top: 1px;*/
    padding: 0 4px;
    font-size: 10px;
    min-width: 30px;
    text-align: center;
    background-color: #eaeaea;
}
.header-button {
    /*-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
    background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');*/
    background-color:#8dc63f ;
    -webkit-border-top-left-radius:42px;
    -moz-border-radius-topleft:42px;
    border-top-left-radius:42px;
    -webkit-border-top-right-radius:42px;
    -moz-border-radius-topright:42px;
    border-top-right-radius:42px;
    -webkit-border-bottom-right-radius:42px;
    -moz-border-radius-bottomright:42px;
    border-bottom-right-radius:42px;
    -webkit-border-bottom-left-radius:42px;
    -moz-border-radius-bottomleft:42px;
    border-bottom-left-radius:42px;
    text-indent:0px;
    /*border:1px solid #83c41a;*/
    display:inline-block;
    color:#ffffff !important;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:85px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #689324;
}
.header-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
    background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
    color:#ffffff;
}
.header-button:active {
    position:relative;
    top:1px;
}


.subscribe-button {
    background-color:#428bca;
    -webkit-border-top-left-radius:42px;
    -moz-border-radius-topleft:42px;
    border-top-left-radius:42px;
    -webkit-border-top-right-radius:42px;
    -moz-border-radius-topright:42px;
    border-top-right-radius:42px;
    -webkit-border-bottom-right-radius:42px;
    -moz-border-radius-bottomright:42px;
    border-bottom-right-radius:42px;
    -webkit-border-bottom-left-radius:42px;
    -moz-border-radius-bottomleft:42px;
    border-bottom-left-radius:42px;
    text-indent:0px;
    /*border:1px solid #83c41a;*/
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:85px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #689324;
}
.subscribe-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
    background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
    color:#ffffff;
}
.subscribe-button:active {
    position:relative;
    top:1px;
    color: white !important;
}
    
.footer-copyright-links{
    padding:0 0 0 10px;
}
.footer-copyright-links a{
    display:inline-block;
    margin:0 10px 0 0;
    text-decoration: underline;
    color: #fff;
    font-weight: normal;
}

/* This button was generated using CSSButtonGenerator.com */