/*
* Infinity V1.0.0 HTML Template
* Author : IncisiveStudio
* Author Website : http://IncisiveStudio.com
* Graphic Designer : Navid Ghasemi
* Wednesday - 2014 01 January
*/

/*
=============================================== HTML5 BOILERPLATE RESET FILE ===============================================
*/
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** {-webkit-backface-visibility: hidden; }*/
/* Fix for transition flickering */

/* -------------------- Headings -------------------- */
h1 {font-size: 32px;}
h2 {font-size: 21px;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}
h5 {font-size: 13px;}
h6 {font-size: 12px;}
small {font: 11px'Arial';}
p {font: 14px/21px'Arial', Helvetica, sans-serif;}
p.services-single:first-letter {font-size: 60px;color: #ff9311;text-transform: uppercase;}
/* -------------------- Misc -------------------- */
.medf-size {font-size: 21px;}
.smlf-size {font-size: 28px;}
.lgf-size {font-size: 42px;}
.vlf-size {font-size: 72px;}
.bg-shadow {background: none repeat scroll 0 0 #DDDDDD;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);}
.add-top-padding {padding-top: 15px !important;}
.add-margin-bottom {margin-bottom: 15px !important;}
.no-padding {padding: 0 0 0 0 !important;}
.no-padding-left {padding-left: 0 !important;}
.no-padding-right {padding-right: 0 !important;}
.activate-btn {background: none repeat scroll 0 0 #ff9311 !important;}
.align-center {text-align: center !important;}
img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: .6;
    -webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-o-transition: all .4s ease-in-out;transition: all .4s ease-in-out;
}
img.grayscale:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
/*
=============================================== PRIMARY STYLES ===============================================
*/
/*body {background: none repeat scroll 0 0 #ebebeb;color: #221918;font: 14px/21px'Open Sans';cursor: default;}*/
body {
    display: block;
    position: relative;
    background-color: #fff;
    font: 14px/21px'Open Sans';
    color: #221918;
    cursor: default;

}
blockquote {color: #878786;padding: 10px 0 6px;}
.article-entry blockquote {background: none repeat scroll 0 0 #f6f6f6;padding: 30px 30px 30px;color: #a1a1a1;font-style: italic;}
a {text-decoration: none;}
/* Default link  (Color is controlled above but this can override it)  */
a:hover {
    text-decoration: none; 
    /*color: #8dc63f ;*/
}
/* Default link:hover*/
a:focus {outline: 0;text-decoration: none;}
/* -------------------- HEADER -------------------- */
header#header ul.quicklinks-section {margin: 16px 0 0;}
header#header ul.quicklinks-section > li{display: inline;}
header#header ul.quicklinks-section > li:first-child > a {color: #c5c5c5;text-shadow: 0 1px 0 rgba(255, 255, 255, 1);-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
header#header ul.quicklinks-section > li:first-child > a:hover {color: #818181;}
header#header ul.quicklinks-section > li:last-child > a {color: #ff9311;text-shadow: 0 1px 0 rgba(255, 255, 255, 1);padding: 0 0 0 8px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
header#header ul.quicklinks-section > li:last-child > a:hover {opacity: .7;}
header#header ul.quicklinks-section ul.dropdown-menu {background: none repeat scroll 0 0 #525252;border-radius: 0 0 0 0;box-shadow: none;border: medium none;padding: 0 0 0;margin: 8px 0 0;}
header#header ul.quicklinks-section ul.dropdown-menu > li > a {color: #FFFFFF;padding: 12px 20px;}
header#header ul.quicklinks-section ul.dropdown-menu > li > a:hover,
header#header ul.quicklinks-section ul.dropdown-menu > li > a:focus {background-color:#ff9311;background-image: none;background-repeat: no-repeat;}
.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus, 
.dropdown-submenu:hover>a, 
.dropdown-submenu:focus>a,
.dropdown-menu>li.active>a {filter: none;}

header#header .navbar-form {margin: 8px 0 0;padding: 0 0 0;}
header#header .navbar-form #form-group {position: relative;}
header#header .navbar-form #form-group .search-icon {position: absolute;right: 0;top: 0;font-size: 24px;color: #a3a3a3;padding: 9px 8px;}
header#header .navbar-form .su-search-box ul li {float: left;padding: 10px 10px 10px;}
/*header#header .navbar-form .su-search-box ul li a {color: #c7c7c7;font-size: 20px;text-shadow: 0 1px 0 rgba(255,255,255,0.2);}*/
header#header .navbar-form .su-search-box ul li a {font-size: 20px;text-shadow: 0 1px 0 rgba(255,255,255,0.2);}
header#header .navbar-form .su-search-box ul li a:hover {color: #606060;}
header#header .navbar-form .custom-search-box {-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;border: medium none;height: 45px;}

header#header .logo {font: 0/0 a;text-shadow: none;color: transparent;background: url(../img/main-logos/logo.png) no-repeat 0 0 transparent;max-width: 100%;width: 100%;height: 56px;margin: 20px 0;}

/*#nav-wrapper {background: none repeat scroll 0 0 #ff9311;position: relative;}*/
#nav-wrapper {position: relative;}
#nav-wrapper .nav-prettify {position: absolute;width: 50%;background: none repeat scroll 0 0 #221918;right: 0;line-height: 50px;top: 0;z-index: 299;}
#nav-wrapper .nav-prettify i {display: block;height: 50px;width: 50px;background: none repeat scroll 0 0 #ff9311;color: #221918;float: right;text-align: center;font-size: 24px;}
#nav-wrapper .slogan {text-align: center;color: #FFFFFF;line-height: 50px;background: none repeat scroll 0 0 #ff9311;}
#nav-wrapper .navbar-collapse {border: medium none;}
#nav-wrapper .navbar-default {background: none repeat scroll 0 0 #8dc63f ;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;border: medium none;margin: 0 0 0 0;z-index: 300;}
#nav-wrapper .navbar-default ul.nav .caret {border-bottom-color: #ff9311;border-top-color: #ff9311;}
#nav-wrapper .navbar-default ul.nav .open a {background: none repeat scroll 0 0 transparent;border: medium none;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
#nav-wrapper .navbar-default ul.nav .open a:hover {background: none repeat scroll 0 0 transparent;border: medium none;}
#nav-wrapper .navbar-default ul.nav .open a:focus {background: none repeat scroll 0 0 transparent;border: medium none;}
#nav-wrapper .navbar-default ul.nav li {font-size: 15px;padding: 0 26px 0;}
#nav-wrapper .navbar-default ul.nav li:first-child {padding: 0 26px 0 14px;}
#nav-wrapper .navbar-default ul.nav li:last-child {padding: 0 0 0 26px;}
#nav-wrapper .navbar-default ul.nav li a {padding: 0 0 0;background: none repeat scroll 0 0 transparent;-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;color: #FFFFFF;line-height: 50px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;text-shadow: none;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
#nav-wrapper .navbar-default ul.nav li a:hover {background: none repeat scroll 0 0 transparent;color: #999999;}
#nav-wrapper .navbar-default ul.nav ul.dropdown-menu {
    -webkit-border-radius: 0 0 0;
    -moz-border-radius: 0 0 0;
    border-radius: 0 0 0;
    border: medium none;
    margin: 0 0 0;padding: 0 0 0;
    background: #ffe12d;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffe12d),to(#ffcb01));
    background: -moz-linear-gradient(top,#ffe12d,#ffcb01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe12d,endColorstr=#ffcb01);
}
#nav-wrapper .navbar-default ul.nav ul.dropdown-menu li {
    padding: 0 14px 0;
    border-top: 1px solid #FFFFFF;
    -webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;
}
#nav-wrapper .navbar-default ul.nav ul.dropdown-menu li:first-child {border-top: medium none;}
#nav-wrapper .navbar-default ul.nav ul.dropdown-menu li:last-child {border-bottom: medium none;}
#nav-wrapper .navbar-default ul.nav ul.dropdown-menu li a {color: #221918;line-height: 38px;}
#nav-wrapper .navbar-default ul.nav ul.dropdown-menu li:hover {background: none repeat scroll 0 0 #221918;}
#nav-wrapper .navbar-default ul.nav ul.dropdown-menu li:hover a {color: #FFFFFF;}
#nav-wrapper .navbar-default ul.nav ul.dropdown-menu li:hover a:hover {color: #FFFFFF;}

#nav-wrapper-home-version2{background:none repeat scroll 0 0 #221918;z-index:300;position:relative;}
#nav-wrapper-home-version2 .navbar-collapse{border:medium none;}
#nav-wrapper-home-version2 .navbar-default{background:none repeat scroll 0 0 #221918;border-radius:0 0 0 0;box-shadow:none;border:medium none;margin:0 0 0 0;z-index:300;}
#nav-wrapper-home-version2 .navbar-default ul.nav .caret{border-bottom-color:#ff9311;border-top-color:#ff9311;}
#nav-wrapper-home-version2 .navbar-default ul.nav .open a{background:none repeat scroll 0 0 transparent;border:medium none;}
#nav-wrapper-home-version2 .navbar-default ul.nav .open a:hover{background:none repeat scroll 0 0 transparent;border:medium none;}
#nav-wrapper-home-version2 .navbar-default ul.nav .open a:focus{background:none repeat scroll 0 0 transparent;border:medium none;}
#nav-wrapper-home-version2 .navbar-default ul.nav li{font-size:11px;font-weight:bold;}
#nav-wrapper-home-version2 .navbar-default ul.nav li a{padding:0 64px 0 35px;background:none repeat scroll 0 0 transparent;border-radius:0 0 0;color:#FFFFFF;line-height:50px;box-shadow:none;text-shadow:none;}
#nav-wrapper-home-version2 .navbar-default ul.nav li a:hover{background:none repeat scroll 0 0 transparent;color:#999999;}
#nav-wrapper-home-version2 .navbar-default ul.nav ul.dropdown-menu{background:none repeat scroll 0 0 #ff9311;border-radius:0 0 0;border:medium none;margin:0 0 0;padding:0 0 0;}
#nav-wrapper-home-version2 .navbar-default ul.nav ul.dropdown-menu li{border-bottom:1px solid #e77e00;border-top:1px solid #ffa436;}
#nav-wrapper-home-version2 .navbar-default ul.nav ul.dropdown-menu li:first-child {border-top: medium none;}
#nav-wrapper-home-version2 .navbar-default ul.nav ul.dropdown-menu li:last-child {border-bottom: medium none;}
#nav-wrapper-home-version2 .navbar-default ul.nav ul.dropdown-menu li a{color:#221918;padding:0 10px 0 25px !important;line-height: 38px !important;}
#nav-wrapper-home-version2 .navbar-default ul.nav ul.dropdown-menu li:hover{background:none repeat scroll 0 0 #221918;}
#nav-wrapper-home-version2 .navbar-default ul.nav ul.dropdown-menu li:hover a{color:#FFFFFF;}
#nav-wrapper-home-version2 .navbar-default ul.nav ul.dropdown-menu li:hover a:hover{color:#FFFFFF;}
#nav-wrapper-home-version2 .nav-prettify{position:absolute;width:50%;background:none repeat scroll 0 0 #221918;right:0;line-height:50px;top:0;z-index:299;}
#nav-wrapper-home-version2 .nav-prettify i{display:block;height:50px;width:50px;background:none repeat scroll 0 0 #ff9311;color:#221918;float:right;text-align:center;font-size:24px;}
/* nivo override */
.nivo-directionNav a {color: #ff9311 !important;}

.blog-navigation {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;}
.blog-navigation .navbar-brand {color: #221918;}
.blog-navigation #blog-navigation-collapse .blog-form-control {border: 1px solid #c7c7c7;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;width: 298px;}
.blog-navigation #blog-navigation-collapse .blog-search-btn {border: medium none;background: none repeat scroll 0 0 transparent;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.blog-navigation #blog-navigation-collapse .blog-navbar-nav > li {padding: 0 0 0;margin: 15px 0;}
.blog-navigation #blog-navigation-collapse .blog-navbar-nav > li > a {border-right: 1px solid #544b4a;padding: 0 18px 0;color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.blog-navigation #blog-navigation-collapse .blog-navbar-nav > li:first-child > a {padding: 0 18px 0 0;}
.blog-navigation #blog-navigation-collapse .blog-navbar-nav > li:last-child > a {padding: 0 8px 0 8px;}
.blog-navigation #blog-navigation-collapse .blog-navbar-nav > li > a:hover {color: #ff9311;}
.blog-navigation #blog-navigation-collapse .blog-navbar-nav ul.dropdown-menu{background: none repeat scroll 0 0 #525252;border-radius: 0 0 0 0;box-shadow: none;border: medium none;padding: 0 0 0;margin: 8px 0 0;right: 0;left: inherit;}
.blog-navigation #blog-navigation-collapse .blog-navbar-nav ul.dropdown-menu > li > a {color: #FFFFFF;padding: 12px 20px;}
.blog-navigation #blog-navigation-collapse .blog-navbar-nav ul.dropdown-menu > li > a:hover {background: none repeat scroll 0 0 #ff9311;}

.portfolio-navigation {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;margin: 15px 0 15px;}
.portfolio-navigation .navbar-brand {color: #221918;}
.portfolio-navigation #portfolio-navigation-collapse .portfolio-navbar-nav {margin: 0 0 0 0;}
.portfolio-navigation #portfolio-navigation-collapse .portfolio-navbar-nav > li {padding: 0 0 0;margin: 15px 0;}
.portfolio-navigation #portfolio-navigation-collapse .portfolio-navbar-nav > li > a {border-right: 1px solid #544b4a;padding: 0 18px 0;color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.portfolio-navigation #portfolio-navigation-collapse .portfolio-navbar-nav > li:first-child > a {padding: 0 18px 0 0;}
.portfolio-navigation #portfolio-navigation-collapse .portfolio-navbar-nav > li:last-child ? a {padding: 0 8px 0 8px;}
.portfolio-navigation #portfolio-navigation-collapse .portfolio-navbar-nav > li > a:hover {color: #ff9311;}
.portfolio-navigation #portfolio-navigation-collapse .portfolio-navbar-nav ul.dropdown-menu{background: none repeat scroll 0 0 #525252;border-radius: 0 0 0 0;box-shadow: none;border: medium none;padding: 0 0 0;margin: 8px 0 0;right: 0;left: inherit;}
.portfolio-navigation #portfolio-navigation-collapse .portfolio-navbar-nav ul.dropdown-menu > li > a {color: #FFFFFF;padding: 12px 20px;}
.portfolio-navigation #portfolio-navigation-collapse .portfolio-navbar-nav ul.dropdown-menu > li > a:hover {background: none repeat scroll 0 0 #ff9311;}

#slideshow {margin: 0 0 10px;}
#slideshow .bx-wrapper {position: relative;}
#slideshow #featured-slider {position: relative;}
#slideshow #featured-slider .bx-caption {bottom: 1px;padding: 0 0 0;left: 1px;right: 50%;position: absolute;color: #ffffff;width: 100%;height: 34px;background: none repeat scroll 0 0 rgba(0, 0, 0, .6); padding: 6px 0 0 6px;}
#slideshow .bx-controls {position: absolute;bottom: 0;width: 100%;height: 35px;background: none repeat scroll 0 0 rgba(0, 0, 0, .1);}
#slideshow .bx-controls .bx-controls-direction {float: right;}
#slideshow .bx-controls .bx-controls-direction a.bx-prev {float: left;color: #FFFFFF;background: none repeat scroll 0 0 #ff9311;height: 35px;text-align: center;line-height: 35px;width: 34px;}
/*#slideshow .bx-controls .bx-controls-direction a.bx-prev {
    float: left;
    color: #000000;
    font-weight: bold;
    height: 35px;
    text-align: center;
    line-height: 35px;
    width: 34px;
    background: #ffe12d;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffe12d),to(#ffcb01));
    background: -moz-linear-gradient(top,#ffe12d,#ffcb01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe12d,endColorstr=#ffcb01);
}*/
#slideshow .bx-controls .bx-controls-direction a.bx-next {float: right;color: #FFFFFF;background: none repeat scroll 0 0 #ff9311;height: 35px;text-align: center;line-height: 35px;width: 34px;}
/*#slideshow .bx-controls .bx-controls-direction a.bx-next {
    float: right;
    color: #000000;
    background: none repeat scroll 0 0 #ff9311;
    height: 35px;
    text-align: center;
    line-height: 35px;
    width: 34px;
    background: #ffe12d;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffe12d),to(#ffcb01));
    background: -moz-linear-gradient(top,#ffe12d,#ffcb01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe12d,endColorstr=#ffcb01);
}*/
#slideshow .bx-controls .bx-controls-direction a.bx-watch {float: left;color: #FFFFFF;background: none repeat scroll 0 0 #ff9311;height: 35px;text-align: center;line-height: 35px;width: 60px;}
#slideshow .bx-controls .bx-controls-direction a.bx-prev:hover {color: #FFFFFF;background: none repeat scroll 0 0 #211917;}
#slideshow .bx-controls .bx-controls-direction a.bx-next:hover {color: #FFFFFF;background: none repeat scroll 0 0 #211917;}
#slideshow .bx-controls .bx-controls-direction a.bx-watch:hover {color: #FFFFFF;background: none repeat scroll 0 0 #211917;}
/*#slideshow .featured-slider-pager {background: none repeat scroll 0 0 #221918;border-right: 8px solid #ff9311;min-height: 356px;position: relative;}*/
#slideshow .featured-slider-pager {background: none repeat scroll 0 0 #ff9311;border-right: 8px solid #ff9311;min-height: 356px;position: relative;}
#slideshow .featured-slider-pager a .featured-slider-entry {padding: 30px 40px 20px;display: none;}
#slideshow .featured-slider-pager a.active .featured-slider-entry {display: block;}
#slideshow .featured-slider-pager a .featured-slider-entry h2 {padding: 0 0 10px;color: #FFFFFF;}
/*#slideshow .featured-slider-pager a .featured-slider-entry p {color: #8f8d8c;}*/
#slideshow .featured-slider-pager a .featured-slider-entry p {color: #FFFFFF;}
#slideshow .featured-slider-pager .featured-slider-pager-btn {bottom: 0;left: 0;width: 100%;position: absolute;}
#slideshow .featured-slider-pager .featured-slider-pager-btn ul {list-style: none outside none;}
#slideshow .featured-slider-pager .featured-slider-pager-btn ul a li {float: left;line-height: 34px;width: 50%;text-align: center;background: none repeat scroll 0 0 #474747;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
#slideshow .featured-slider-pager .featured-slider-pager-btn ul a li:hover {background: none repeat scroll 0 0 #ff9311;}
#slideshow .featured-slider-pager .featured-slider-pager-btn ul a li.active {background: none repeat scroll 0 0 #ff9311;}
#slideshow .featured-slider-pager .featured-slider-pager-btn ul a {color: #FFFFFF;}

#slideshow-home-version2{margin:0 0 10px;}
#slideshow-home-version2 .slideshow-home-version2-container{width:100%;overflow:hidden;position:relative;}
#slideshow-home-version2 .slideshow-home-version2-container .carousel-caption {bottom:0;padding:20px 20px 20px;left:15.2%;right:15.2%;background:none repeat scroll 0 0 rgba(0,0,0,.4);text-align:left;}
#slideshow-home-version2 .slideshow-home-version2-container .carousel-control-home-version2 .icon-angle-left,
#slideshow-home-version2 .slideshow-home-version2-container .carousel-control-home-version2 .icon-angle-right{font-size:144px;color:#ff9311;position:absolute;display:inline-block;top:30%;right:4%;bottom:0;}

.services-header {margin: 0 0 20px;height: auto;max-width: 100%;background: url(../images/headers/services-header.png) no-repeat 0 0 #ff9311;-moz-background-size: cover;-o-background-size: cover;background-size: cover;display: block;}
.services-header .note {padding-top: 45px;padding-bottom: 45px;}
.services-carousel-wrapper {background: none repeat scroll 0 0 #dddddd;-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);}
.services-shortcut {padding: 20px 0;text-align: center !important;color: #a4a4a4;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);font-weight: bold;font-family:'Arial', Tahoma;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.services-shortcut h4 {text-align: center !important;}
.owl-carousel-controller {position: relative;z-index: 499;height: 52px;}
.owl-carousel-controller .customNavigation {top: 0;right: 0;position: absolute;z-index: 599;}
.owl-carousel-controller .customNavigation .owl-btn {display: block;width: 20px;height: 20px;background-color: #dddddd;float: right;cursor: pointer;color: #a4a4a4;line-height: 20px;}
.owl-carousel-controller .customNavigation .owl-btn:hover {background-color: #221918;color: #ffffff;}
.services-shortcut.active {background: none repeat scroll 0 0 #FFFFFF;color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.services-shortcut.active:hover {color: #221918;}
.services-shortcut:hover {color: #666666;}
.services-describe {padding: 36px 20px;margin-bottom: 30px;}
.services-describe h2 {padding: 0 0 16px;color: #545453;}
.services-describe p {color: #616161;font-family:'Arial', Helvetica, sans-serif;}
.services-describe p a {color: #ff9311;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.services-describe p a:hover {color: #221918;}
.services-describe p img {width: 100%;margin: 16px 0;}
/* -------------------- ARTICLE SECTION -------------------- */
article#article {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);margin: 0 0 30px;}
article#article .article-img {position: relative;}
article#article .article-img img {max-width: 100%;}
article#article .article-img .article-img-ico {position: absolute;bottom: 0;right: 0;}
article#article .article-img .article-img-ico a i {display: inline-block;color: #FFFFFF;background: none repeat scroll 0 0 #221918;width: 30px;height: 30px;float: right;text-align: center;line-height: 32px;}
article#article .article-img .article-img-ico a.active i {background: none repeat scroll 0 0 #ff9311;}
article#article .meta-info {font: 12px'Arial', Helvetica, sans-serif;color: #FFFFFF;background: none repeat scroll 0 0 #ff9311;height: 30px;}
article#article .meta-info ul {list-style: none outside none;}
article#article .meta-info ul li {float: left;padding: 0 26px;line-height: 30px;}
article#article .meta-info ul li:first-child {background: none repeat scroll 0 0 #221918;}
article#article .meta-info ul li:last-child {padding: 0 0 0 26px;}
article#article .meta-info ul li a {color: #FFFFFF;}
article#article .article-entry {padding: 15px 15px 15px;position: relative;}
article#article .article-entry h2 {color: #221918;font-weight: bold;padding: 0 0 4px;margin: 10px 0;}
article#article .article-entry small {color: #a9aaa9;}
article#article .article-entry h3 {padding: 30px 0 4px;color: #ff9311;}
/*article#article .article-entry p {color: #767676;padding: 0 0 30px;}*/
article#article .article-entry p {color: #333;padding: 0 0 5px;}
article#article .article-entry p a {color: #ff9311;}
article#article .article-entry p a:hover {color: #221918;}
article#article .article-entry .readmore {position: absolute;bottom: 0;right: 0;}
article#article .article-entry .readmore .readmore-btn {color: #FFFFFF;background: none repeat scroll 0 0 #ff9311;display: block;width: 60px;height: 30px;line-height: 30px;text-align: center;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
article#article .article-entry .readmore .readmore-btn:hover {background: none repeat scroll 0 0 #221918;}

#comment-section {margin: 0 0 20px;}
#comment-section .comment-title {text-align: center;color: #282828;margin: 0 0 24px;}
#comment-section .leave-massage .comment-input {margin: 0 0 15px;background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;}
#comment-section .leave-massage .comment-textarea {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;resize: vertical;}
#comment-section .submit-btn {font-size: 11px;}
#comment-section .submit-btn .sub-cls-btn {background: none repeat scroll 0 0 #221918;border: medium none;color: #FFFFFF;padding: 5px 54px;float: right;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
#comment-section .submit-btn .sub-cls-btn:hover {background: none repeat scroll 0 0 #ff9311;}
/* -------------------- PORTFOLIO COMMENT SECTION -------------------- */
#portfolio-cm-section {margin: 0 0 20px;}
#portfolio-cm-section .portfolio-cm-title {text-align: center;color: #282828;margin: 0 0 24px;}
#portfolio-cm-section .portfolio-cm-list {margin: 0 0 60px;}
#portfolio-cm-section .portfolio-cm-list .avatar {border: 1px solid #e6e6e6;background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);margin: 0 0 20px;}
#portfolio-cm-section .portfolio-cm-list .avatar img {padding: 4px 4px 4px;max-width: 100%;}
#portfolio-cm-section .portfolio-cm-list .avatar h4 {color: #282828;padding: 2px 0 6px;text-align: center;line-height: 12px;font-size: 12px;}
#portfolio-cm-section .portfolio-cm-list .portfolio-cm-body .portfolio-cm-paragraph {background: none repeat scroll 0 0 #FFFFFF;position: relative;}
#portfolio-cm-section .portfolio-cm-list .portfolio-cm-body .portfolio-cm-paragraph p {color: #767676;padding: 16px 12px;}
#portfolio-cm-section .portfolio-cm-list .portfolio-cm-body .under-cm-social ul li {padding: 10px 20px;float: left;}
#portfolio-cm-section .portfolio-cm-list .portfolio-cm-body .under-cm-social ul li a {color: #c7c7c7;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
#portfolio-cm-section .portfolio-cm-list .portfolio-cm-body .under-cm-social ul li a:hover {color: #606060;}
#portfolio-cm-section .portfolio-cm-list .meta-info {font: 12px'Arial', Helvetica, sans-serif;color: #FFFFFF;background: none repeat scroll 0 0 #ff9311;min-height: 30px;}
#portfolio-cm-section .portfolio-cm-list .meta-info ul {list-style: none outside none;}
#portfolio-cm-section .portfolio-cm-list .meta-info ul li {float: left;padding: 0 26px;line-height: 30px;}
#portfolio-cm-section .portfolio-cm-list .meta-info ul li:last-child {background: none repeat scroll 0 0 #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
#portfolio-cm-section .portfolio-cm-list .meta-info ul li a {color: #FFFFFF;}
/* -------------------- AUTHOR BIOGRAPHY SECTION -------------------- */
.author-bio {margin: 0 0 60px;}
.author-bio .author-image {border: 1px solid #e6e6e6;background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);margin: 0 0 20px;}
.author-bio .author-image img {padding: 4px 4px 4px;max-width: 100%;}
.author-bio .author-image h4 {color: #282828;padding: 2px 0 6px;text-align: center;line-height: 12px;font-size: 12px;}
.author-bio .author-content {background: none repeat scroll 0 0 #FFFFFF;position: relative;}
.author-bio .author-content p {color: #767676;padding: 16px 12px;}
.author-bio .author-content .triangle {position: absolute;left: 0;bottom: 0;border-left: 6px solid transparent;border-right: 6px solid #FFFFFF;border-bottom: 6px solid transparent;border-top: 6px solid #FFFFFF;width: 0;height: 0;margin: 0 0 0 -12px;}
.author-bio .under-binfo-social ul li {padding: 10px 20px;float: left;}
.author-bio .under-binfo-social ul li a {color: #c7c7c7;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.author-bio .under-binfo-social ul li a:hover {color: #606060;}
.author-bio .meta-info {font: 12px'Arial', Helvetica, sans-serif;color: #FFFFFF;background: none repeat scroll 0 0 #ff9311;min-height: 30px;}
.author-bio .meta-info ul {list-style: none outside none;}
.author-bio .meta-info ul li {float: left;padding: 0 26px;line-height: 30px;}
.author-bio .meta-info ul li:last-child {background: none repeat scroll 0 0 #221918;}
.author-bio .meta-info ul li a {color: #FFFFFF;}
/* -------------------- COMMENT SECTION -------------------- */
.comments {margin: 0 0 60px;}
.comments .media > .pull-left {margin-right: 20px !important;}
.comments .comment {margin: 0 0 10px;}
.comments .author-image {position: relative;border: 1px solid #e6e6e6;background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);}
.comments .author-image img {padding: 4px 4px 4px;max-width: 100%;}
.comments .author-image h4 {color: #282828;padding: 2px 0 8px;text-align: center;line-height: 12px;font-size: 12px;}
.comments .author-content {background: none repeat scroll 0 0 #FFFFFF;position: relative;}
.comments .author-content p {color: #767676;padding: 18px 12px 26px;line-height: 24px;}
.comments .author-content .btn-cm-replay {line-height: 24px;text-align: center;width: 94px;height: 24px;display: block;position: absolute;bottom: 0;right: 0;background: none repeat scroll 0 0 #ff9311;}
.comments .author-content .btn-cm-replay a {color: #FFFFFF;text-align: center;}
.comments .meta-info {font: 12px'Arial', Helvetica, sans-serif;color: #FFFFFF;background: none repeat scroll 0 0 #FFFFFF;min-height: 30px;}
.comments .meta-info ul {list-style: none outside none;}
.comments .meta-info ul li {padding: 0 26px;line-height: 30px;background: none repeat scroll 0 0 #ff9311;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.comments .meta-info ul li:hover {background: none repeat scroll 0 0 #221918;}
.comments .meta-info ul li a {color: #FFFFFF;}
/* -------------------- PORTFOLIO SECTION -------------------- */
#portfolio-up-article {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);margin: 0 0 20px;height: 45px;padding: 0 0 0 20px;}
#portfolio-up-article h3 {color: #494747;line-height: 45px;}
#portfolio-up-article .portfolio-article-controler a {width: 45px;height: 45px;display: inline-block;background: none repeat scroll 0 0 #221918;color: #838282;line-height: 45px;float: right;text-align: center;font-size: 18px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
#portfolio-up-article .portfolio-article-controler a:hover {background: none repeat scroll 0 0 #ff9311;color: #FFFFFF;}
.lunch-project {background: none repeat scroll 0 0 #ff9311;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);margin: 0 0 20px;height: 45px;text-align: center;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.lunch-project:hover {background: none repeat scroll 0 0 #221918;}
.lunch-project h3 {color: #221918;line-height: 45px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.lunch-project:hover h3 {color: #FFFFFF;}
#reply-section {margin: 0 0 40px;}
#reply-section .leave-reply .reply-input {margin: 0 0 15px;background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;}
#reply-section .leave-reply .reply-textarea {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0;-moz-border-radius: 0 0 0;border-radius: 0 0 0;resize: vertical;}
#reply-section .submit-btn {font-size: 11px;}
#reply-section .submit-btn .sub-cls-btn {background: none repeat scroll 0 0 #221918;border: medium none;color: #FFFFFF;padding: 5px 54px;float: right;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
#reply-section .submit-btn .sub-cls-btn:hover {background: none repeat scroll 0 0 #ff9311;}
/* -------------------- GOOGLE MAPS -------------------- */
.gmap-wrapper {margin: 0 0 30px;}
.gmap-wrapper .map-shadow {-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);}
/* -------------------- PAGE NAVIGATION -------------------- */
#pagination-wrapper {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);margin: 0 0 60px;text-align: center;height: 30px;position: relative;}
#pagination-wrapper a.pag-controler-left {position: absolute;bottom: 0;left: 0;display: block;width: 30px;height: 30px;text-align: center;line-height: 30px;background: none repeat scroll 0 0 #221918;color: #FFFFFF;}
#pagination-wrapper a.pag-controler-right {position: absolute;bottom: 0;right: 0;display: block;width: 30px;height: 30px;text-align: center;line-height: 30px;background: none repeat scroll 0 0 #221918;color: #FFFFFF;}
#pagination-wrapper ul.pagination {display: inline-block;margin: 0 auto;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;}
#pagination-wrapper ul.pagination li {float: left;background: none repeat scroll 0 0 #f6f6f6;padding: 0 12px;}
#pagination-wrapper ul.pagination li.active {background: none repeat scroll 0 0 #ff9311;}
#pagination-wrapper ul.pagination li.active a {color: #FFFFFF;}
#pagination-wrapper ul.pagination li a {line-height: 30px;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;border: medium none;padding: 0 0 0;background: none repeat scroll 0 0 transparent;color: #221918;}
/* -------------------- WIDGETS -------------------- */
.widget .contact-info-hz {padding: 16px 18px !important;}
.widget .contact-info-hz ul {margin: 0 0 0 !important;}
.widget .contact-info-hz ul li h4 {color: #221918;}
.widget .contact-info-hz ul li .media-body {color: #767676;}
.widget .contact-info-hz ul li a {color: #221918;}
.widget .blog-categories {padding: 10px 20px !important;}
.widget .blog-categories ul {margin: 0 0 !important;}
.widget .blog-categories ul li {border-bottom: 1px solid #efefef;padding: 10px 0 6px !important;}
.widget .blog-categories ul li a {color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.widget .blog-categories ul li a:hover {color: #ff9311;}
.widget .blog-categories ul li:last-child {border-bottom: medium none;}
.widget .accordion {padding: 10px 20px !important;}
.widget .accordion ul {margin: 0 0 !important;}
.widget .accordion ul li {border-top: 1px solid #efefef;padding: 10px 0 10px !important;}
.widget .accordion ul li:first-child {border-top: medium none;}
.widget .accordion ul li.plus:before {content:'\e828';font-family:"infinity-glyph";padding: 0 12px 0 0;}
.widget .accordion ul li.minus:before {content:'\e827';font-family:"infinity-glyph";padding: 0 12px 0 0;}
.widget .accordion ul li{color: #221918;font-weight: bold;text-decoration: none;}
.widget .accordion ul li a.plus:before {content:'\e828';font-family:"infinity-glyph";padding: 0 12px 0 0;}
.widget .accordion ul li a.minus:before {content:'\e827';font-family:"infinity-glyph";padding: 0 12px 0 0;}

a.plus:after {content:'\e828';font-family:"infinity-glyph";padding: 0 12px 0 0; float: right; color: #999;}
a.minus:after {content:'\e827';font-family:"infinity-glyph";padding: 0 12px 0 0; float: right; color: #999;}

.widget .accordion ul li a {color: #221918;font-weight: bolder;text-decoration: none;}
.widget .accordion p {color: #767676;padding: 0 8px 20px 20px !important;font: 12px'Arial';}
.widget .project-details {padding: 10px 20px !important;}
.widget .project-details ul {margin: 0 0 !important;}
.widget .project-details ul li {border-bottom: 1px solid #efefef;padding: 10px 0 6px !important;}
.widget .project-details ul li a {color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.widget .project-details ul li a:hover {color: #ff9311;}
.widget .project-details ul li:last-child {border-bottom: medium none;}
.widget .testimonials {padding: 12px 24px 12px;}
.widget .testimonials small {color: #b0aeae;font-style: italic;}
.widget .testimonials h4 {color: #221918;}
.widget .testimonials p {color: #767676;padding: 0 0 8px;}
.widget {margin-bottom: 20px;}
.widget .widget-title {position: relative;}
.widget .widget-title h4 {padding-bottom: 8px;}
.widget .widget-title .close-widget {position: absolute;bottom: 0;right: 0;text-align: center;line-height: 22px;color: #FFFFFF;display: block;width: 26px;height: 22px;background: none repeat scroll 0 0 #221918;cursor: pointer;}
.widget .widget-body {padding: 24px 24px 24px;border-top: 3px solid #221918;position: relative;}
.widget .widget-body ul {margin: 0 0 20px;}
.widget .widget-body ul li {padding: 5px 0;}
.widget .widget-body .vote-btn {position: absolute;bottom: 0;right: 0;}
.widget .widget-body .vote-btn a {color: #FFFFFF;padding: 5px 15px 5px;background: none repeat scroll 0 0 #ff9311;display: inline-block;}

.widget .lastest-post {padding: 12px 24px 12px;}
.widget .lastest-post ul li {border-bottom: 1px solid #f0f0f0;}
.widget .lastest-post ul li small {color: #b0aeae;font-style: italic;}
.widget .lastest-post ul li h4 {color: #221918;}
.widget .lastest-post ul li p {color: #767676;}

.widget .lastest-tweet {padding: 24px 24px 8px;}
.widget .lastest-tweet ul {font-family:'Arial', Helvetica, sans-serif;}
.widget .lastest-tweet ul li {border-bottom: 1px solid #f0f0f0;color: #595857;padding: 8px 0;}
.widget .lastest-tweet ul li:last-child {border: medium none;}
.widget .lastest-tweet ul li a {color: #66b8f1;}

.widget .tags-widget {padding: 18px 0;}
.widget .tags-widget a {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);padding: 4px 8px;color: #221918;white-space: nowrap;line-height: 34px;margin: 0 4px 0 0;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.widget .tags-widget a:hover {background: none repeat scroll 0 0 #ff9311;color: #FFFFFF;}

.special-widget {margin-bottom: 20px;}
.special-widget .swidget-body ul a {color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.special-widget .swidget-body ul a:hover {color: #8dc63f ;}
.special-widget .swidget-body ul li {border-bottom: 1px solid #d9d9d9;border-top: 1px solid #f5f5f5;padding: 10px 6px;}
.special-widget .swidget-body ul li:first-child {border-top: medium none;}
.special-widget .swidget-body ul li:last-child {border-bottom: medium none;}
/* -------------------- BREAD CRUMB -------------------- */
.breadcrumb-wrapper {width: 100%;}
.breadcrumb-wrapper .breadcrumb {background: none repeat scroll 0 0 transparent;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;margin: 0 0 0 0;}
.breadcrumb-wrapper .breadcrumb li {font-size: 12px;color:#9b9b9b;}
.breadcrumb-wrapper .breadcrumb li a {color:#9b9b9b;}
.breadcrumb-wrapper .breadcrumb li a:hover {color:#221918;}
/* -------------------- IE FIX PLACEHOLDER -------------------- */
.placeholder {color: #c8c8c8;}
/* -------------------- ABOUT SECTION -------------------- */
#summary-about {margin: 20px 0 0;}
/*#summary-about .about-authors {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;padding: 8px 8px 0 8px;}*/
#summary-about .about-authors {background: none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);box-shadow: 0 1px 2px rgba(0, 0, 0, .1);border: medium none;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;}
#summary-about .about-authors .img-author {position: relative;}
#summary-about .about-authors .img-author .glassy-social {position: absolute;top: 0;right: 0;}
#summary-about .about-authors .img-author .glassy-social i {background: none repeat scroll 0 0 #ff9311;width: 33px;height: 33px;float: right;text-align: center;line-height: 33px;color: #221918;text-shadow: 0 1px 0 rgba(255,255,255,0.2);-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
#summary-about .about-authors .img-author .glassy-social i:hover {background: none repeat scroll 0 0 #221918;color: #ffffff;}
#summary-about .about-authors .img-author .glassy-social i.magnify{display: none;}
#summary-about .about-authors:hover .img-author .glassy-social i.magnify{display: block;}
/*#summary-about .about-authors:hover {background: none repeat scroll 0 0 #ff9311;color: #ffffff;}*/
#summary-about .about-authors:hover {
    background: #ffe12d;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffe12d),to(#ffcb01));
    background: -moz-linear-gradient(top,#ffe12d,#ffcb01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe12d,endColorstr=#ffcb01);
    color: #ffffff;
}
#summary-about .about-authors:hover h3 {color: #ffffff;}
#summary-about .about-authors:hover p {color: #ffffff;}
#summary-about .about-authors p {color: #919090;font: 11px'Arial', Tahoma;}
/* -------------------- SPECIAL DIVIDER -------------------- */
.special-divider span {background-color: #282828;top: -40px;position: absolute;-webkit-border-radius: 200px 200px 200px;-moz-border-radius: 200px 200px 200px;border-radius: 200px 200px 200px;border: 12px solid #ebebeb;margin-left: -40px;color: #FFFFFF;font-size: 24px;display: table-cell;line-height: 54px;left: 50%;width: 80px;height: 80px;}
.special-divider {clear: both;text-align: center;height: 2px;margin: 40px auto 40px;position: relative;width: 100%;background-color: #dedede;display: table;-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
/* -------------------- ERROR 404 SECTION -------------------- */
.error404 {text-align: center;margin: 150px 0 100px;}
.error404 h1 {font-size: 240px;margin: 0 0 40px;line-height: 170px;}
.error404 h1 .colored-zero {color: #ff9311;}
.error404 h2 {font-weight: bold;}
/* -------------------- PROGRESS BAR -------------------- */
.experience-progress {margin: 0 0 60px;text-align: center;}
.experience-progress .experience-progress-title {text-align: center;margin: 0 0 36px;}
.experience-progress .our-skils {text-align: center;margin: 30px 0 30px;}
.experience-progress .our-skils h3 {color: #555555;}
.experience-progress .our-skils small {color: #b4b4b4;}
/* -------------------- ANNOUCEMENT SECTION -------------------- */
.announcement {margin: 0 0 30px;}
.announcement p {padding: 15px 25px;}
.announcement ul.announc-dropdown{display: inline;}
.announcement ul.announc-dropdown > li{color: #ff9311;margin: 15px 0;display: inline-block;padding: 0 10px;border-left: 1px solid #544b4a;float: right;}
.announcement ul.announc-dropdown > li.open {background-color: #E7E7E7;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.announcement ul.announc-dropdown > li > a{color: #221918;}
.announcement ul.announc-dropdown ul.dropdown-menu{background: none repeat scroll 0 0 #525252;border-radius: 0 0 0 0;box-shadow: none;border: medium none;padding: 0 0 0;margin: 8px 0 0;right: 0;left: inherit;}
.announcement ul.announc-dropdown ul.dropdown-menu > li > a {color: #FFFFFF;padding: 12px 20px;}
.announcement ul.announc-dropdown ul.dropdown-menu > li > a:hover {background: none repeat scroll 0 0 #ff9311;}
/* -------------------- MOSAIC SECTION -------------------- */
.mosaic {padding: 20px 30px 15px;text-align: center;color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.mosaic:hover {background: none repeat scroll 0 0 #ff9311;color: #FFFFFF;}
.mosaic h3 {font-weight: bold;padding: 15px 0 15px;text-transform: uppercase;font-size: 18px;}
.mosaic p {font-size: 12px;}
.portfolio-mosaic {margin: 0 0 30px;}
/* -------------------- NEW PROJECT -------------------- */
.new-project {min-height: 240px;position: relative;}
/*.new-project-header {background: none repeat scroll 0 0 #ff9311;padding: 0 0 0 12px;position: relative;}*/
.new-project-header {
    padding: 0 0 0 12px;
    position: relative;
    background: #ffe12d;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffe12d),to(#ffcb01));
    background: -moz-linear-gradient(top,#ffe12d,#ffcb01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe12d,endColorstr=#ffcb01);
}
/*.new-project-header .new-project-title {color: #FFFFFF;line-height: 30px;}*/
.new-project-header .new-project-title {
    color: #000000;
    line-height: 30px;
    font-weight: bold;
}
.new-project-header .new-project-carousel-controls {float: right;text-align: center;line-height: 30px;}
.new-project-header .new-project-carousel-controls span {background: none repeat scroll 0 0 #FFFFFF;display: inline-block;width: 27px;height: auto;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.new-project-header .new-project-carousel-controls span:hover {background: none repeat scroll 0 0 #221918;color: #fFFFFF;}
#bx-pager a.active .new-project-body {display: block;}
#bx-pager a .new-project-body {padding: 10px 10px 0;display: none;}
#bx-pager a .new-project-body h4 {color: #221918;}
#bx-pager a .new-project-body i {color: #545252;font-size: 11px;font-style: italic;}
#bx-pager a .new-project-body p {padding: 5px 0 30px;color: #3c3835;font-size: 12px;}
/*===*/
#bx-pager .new-project-body i {color: #949292;font-size: 11px;font-style: italic;}
#bx-pager .new-project-body p {padding: 5px;color: #3c3835;font-size: 12px;}
/*===*/
.new-project-footer {height: 28px;position: absolute;right: 0;bottom: 0;}
.new-project-footer .new-project-btn {background: none repeat scroll 0 0 #221918;padding: 0 10px;color: #FFFFFF;line-height: 28px;height: 28px;display: block;float: right;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
/*.new-project-footer .new-project-btn:hover {background: none repeat scroll 0 0 #ff9311;}*/
.new-project-footer .new-project-btn:hover {
    background: #ffe12d;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffe12d),to(#ffcb01));
    background: -moz-linear-gradient(top,#ffe12d,#ffcb01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe12d,endColorstr=#ffcb01);
}
/* -------------------- RECENT WORKS -------------------- */
.recent-works {margin: 0 0 30px;}
/*.recent-works .recent-works-header {text-align: center;border-bottom: 5px solid #ff9311;position: relative;}*/
.recent-works .recent-works-header {text-align: center;position: relative;}
.recent-works .recent-works-header h2 {color: #221918;text-align: left;float: left; font-weight: bold !important; font-size: 21px !important; margin-bottom: 4px;}
.recent-works .recent-works-header .control-box {display: inline-block;float: right;}
.recent-works .recent-works-header .control-box .client-carousel-control {background: none repeat scroll 0 0 #ffffff;float: right;display: block;width: 27px;height: 27px;color: #aeadad;line-height: 28px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.recent-works .recent-works-header .control-box .client-carousel-control:hover {background: none repeat scroll 0 0 #8dc63f ;color: #FFFFFF;}
.recent-works .recent-works-carousel li {padding: 0 10px 0;}
.recent-works .img-overlay {position: relative;z-index: 499;}
.recent-works .img-overlay .recent-caption {position: absolute;z-index: 599;bottom: 0;width: 100%;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);height: 60px;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
.recent-works .img-overlay .recent-caption .p-caption {color: #FFFFFF;width: 100%;text-align: center;padding: 8px 0 8px;top: 0;position: absolute;bottom: 0;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
.recent-works .img-overlay:hover .recent-caption .p-caption {margin: 54% 0 0;}
.recent-works .img-overlay:hover .recent-caption {height: 100%;}
.recent-works .img-overlay .recent-icons {position: absolute;z-index: 600;top: 35%;bottom: 0;opacity: 0;left: 65%;margin: 0 0 0 -40px;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
.recent-works .img-overlay:hover .recent-icons {opacity: 1;}
.recent-works .img-overlay .recent-icons a {background: none repeat scroll 0 0 #FFFFFF;display: inline-block;width: 36px;height: 36px;text-align: center;line-height: 36px;color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.recent-works .img-overlay .recent-icons a:hover {background: none repeat scroll 0 0 #8dc63f ;color: #FFFFFF;}
/* -------------------- PORTFOLIO MOSAIC -------------------- */
.portfolio-mosaic .img-overlay {position: relative;z-index: 499;}
.portfolio-mosaic .img-overlay .recent-caption {position: absolute;z-index: 599;bottom: 0;width: 100%;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);height: 60px;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
.portfolio-mosaic .img-overlay .recent-caption .p-caption {color: #FFFFFF;width: 100%;text-align: center;padding: 8px 0 8px;top: 0;position: absolute;bottom: 0;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
.portfolio-mosaic .img-overlay:hover .recent-caption .p-caption {margin: 54% 0 0;}
.portfolio-mosaic .img-overlay:hover .recent-caption {height: 100%;}
.portfolio-mosaic .img-overlay .recent-icons {position: absolute;z-index: 600;top: 45%;bottom: 0;opacity: 0;left: 50%;margin: 0 0 0 -40px;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}
.portfolio-mosaic .img-overlay:hover .recent-icons {opacity: 1;}
.portfolio-mosaic .img-overlay .recent-icons a {background: none repeat scroll 0 0 #FFFFFF;display: inline-block;width: 36px;height: 36px;text-align: center;line-height: 36px;color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.portfolio-mosaic .img-overlay .recent-icons a:hover {background: none repeat scroll 0 0 #ff9311;color: #FFFFFF;}
/* -------------------- CONTENT SLIDESHOW -------------------- */
.content-slideshow {margin: 0 0 30px;}
.content-slider {position: relative;border-left: 41px solid #221918;border-right: 3px solid #221918;margin: 0 0 8px 0;background: none repeat scroll 0 0 #f8f8f8;}
.content-slider .content-slider-entry {padding: 40px 46px 40px;}
/*.content-slider-pager ul li {margin: 0 0 8px 0;padding: 12px 25px 13px;border-left: 3px solid #221918;color: #221918;position: relative;}*/
.content-slider-pager ul li {margin: 0 0 8px 0;padding: 12px 25px 13px;border-left: 3px solid #ffe12d;color: #221918;position: relative;}
/*.content-slider-pager ul li.active {background: none repeat scroll 0 0 #ff9311;border-left: 3px solid #ff9311;color: #FFFFFF;}*/
.content-slider-pager ul li.active {
    background: #ffe12d;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffe12d),to(#ffcb01));
    background: -moz-linear-gradient(top,#ffe12d,#ffcb01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe12d,endColorstr=#ffcb01);
    /*border-left: 3px solid #ff9311;*/
    color: #FFFFFF;
}
/*.content-slider-pager ul li.active:after {content:" ";left: 0;top: 50%;margin: -10px 0 0 -13px;border-top: 10px solid transparent;border-left: 0px solid transparent;border-right: 10px solid #ff9311;border-bottom: 10px solid transparent;display: block;position: absolute;}*/
.content-slider-pager ul li.active:after {
    content:" ";
    left: 0;
    top: 50%;
    margin: -10px 0 0 -13px;
    border-top: 10px solid transparent;
    border-left: 0px solid transparent;
    border-right: 10px solid #ffe12d;
    border-bottom: 10px solid transparent;
    display: block;
    position: absolute;}
/*.content-slider-pager ul li:hover {background: none repeat scroll 0 0 #ff9311;border-left: 3px solid #ff9311;color: #FFFFFF;}*/
.content-slider-pager ul li:hover {
    background: #ffe12d;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffe12d),to(#ffcb01));
    background: -moz-linear-gradient(top,#ffe12d,#ffcb01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe12d,endColorstr=#ffcb01);
    border-left: 3px solid #ffe12d;
    color: #FFFFFF;
}
/*.content-slider-pager ul li:hover:after {content:" ";left: 0;top: 50%;margin: -10px 0 0 -13px;border-top: 10px solid transparent;border-left: 0px solid transparent;border-right: 10px solid #ff9311;border-bottom: 10px solid transparent;display: block;position: absolute;}*/
.content-slider-pager ul li:hover:after {
    content:" ";
    left: 0;
    top: 50%;
    margin: -10px 0 0 -13px;
    border-top: 10px solid transparent;
    border-left: 0px solid transparent;
    border-right: 10px solid #ffe12d;
    border-bottom: 10px solid transparent;
    display: block;
    position: absolute;}
/* -------------------- CLIENTS SLIDESHOW -------------------- */
.our-clients {margin: 0 0 30px;}
.our-clients .our-client-header {text-align: center;border-bottom: 2px solid #d4d4d4;-webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, .4);-moz-box-shadow: 0 2px 0 rgba(255, 255, 255, .4);box-shadow: 0 2px 0 rgba(255, 255, 255, .4);position: relative;}
.our-clients .our-client-header:after {content:" ";left: 50%;margin: 0 0 0 -10px;border-top: 10px solid #d9d9d9;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid transparent;display: block;position: absolute;}
.our-clients .our-client-header h2 {color: #a4a4a4;text-shadow: 0 1px 0 rgba(255, 255, 255, 1);padding: 0 0 10px;}
.our-clients .our-client-header .control-box {position: absolute;right: 0;top: 0;z-index: 599;margin:32px 0 0;}
.our-clients .our-client-header .control-box .client-carousel-control {background: none repeat scroll 0 0 #d4d4d4;float: right;display: block;width: 20px;height: 20px;line-height: 20px;color: #8f8d8c;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.our-clients .our-client-header .control-box .client-carousel-control:hover {background: none repeat scroll 0 0 #ff9311;color: #FFFFFF;}
.our-clients .our-clients-carousel {padding: 40px 0 45px;}
/* -------------------- BACK TO UP PLUGIN -------------------- */
#backtop {position: relative;display: block;height: 0px;}
#backtop .btn-backtop span {position: absolute;right: 0;bottom: 0;cursor: pointer;display: block;background: none repeat scroll 0 0 #FFFFFF;font-size: 42px;color: #221918;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;padding: 14px 6px;}
/*#backtop .btn-backtop span:hover {background: none repeat scroll 0 0 #ff9311;color: #FFFFFF;}*/
#backtop .btn-backtop span:hover {
    background: #ffe12d;
    background: -webkit-gradient(linear,left top,left bottom,from(#ffe12d),to(#ffcb01));
    background: -moz-linear-gradient(top,#ffe12d,#ffcb01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe12d,endColorstr=#ffcb01);
    color: #FFFFFF;
}
/* -------------------- DIVIDER -------------------- */
.divider {border-bottom: 6px solid #8dc63f ;position: relative;}
.divider a {background: none repeat scroll 0 0 #8dc63f ;color: #fff;-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;padding: 8px 8px;position: absolute;margin-top: -8px;z-index: 499; pointer-events: none;}
.divider a:after {top: 0;left: 0;margin: 0 0 0 -8px;content:" ";border-top: 4px solid transparent;border-left: 4px solid transparent;border-right: 4px solid #9b9b9b;border-bottom: 4px solid #9b9b9b;display: block;position: absolute;}
.divider a:before {top: 0;right: 0;margin: 0 -8px 0 0;content:" ";border-top: 4px solid transparent;border-left: 4px solid #9b9b9b;border-right: 4px solid transparent;border-bottom: 4px solid #9b9b9b;display: block;position: absolute;}
/* -------------------- INFINTY SCROLL -------------------- */
#page_nav {text-align: center;margin: 20px 0 0;}
#page_nav a{color: #FFFFFF;padding: 10px 10px 10px;border-radius: 300px 300px 300px 300px;background: none repeat scroll 0 0 #221918;}
#page_nav a:hover{background: none repeat scroll 0 0 #ff9311;}
/* -------------------- COLOR PICKER -------------------- */
#cp {position: absolute;z-index: 399;right: 0;top: 0;width: 50px;background: none repeat scroll 0 0 #424848;margin: 50px 0 0;display: none;}
#cp ul.tinysquare {float: right;background: none repeat scroll 0 0 #424848;width: 50px;display: inline;}
#cp ul.tinysquare li.orange a{display: block;width: 18px;height: 18px;background: none repeat scroll 0 0 #ff9311;margin: 18px auto;}
#cp ul.tinysquare li.blue a{display: block;width: 18px;height: 18px;background: none repeat scroll 0 0 #189a99;margin: 18px auto;}
#cp ul.tinysquare li.green a{display: block;width: 18px;height: 18px;background: none repeat scroll 0 0 #02bd85;margin: 18px auto;}
#cp ul.tinysquare li.purple a{display: block;width: 18px;height: 18px;background: none repeat scroll 0 0 #af7ac4;margin: 18px auto;}
#cp ul.tinysquare li.close-cp {margin: 18px 0 0;border-top: 1px solid #485254;}
#cp ul.tinysquare li.close-cp a#close-cp{color: #424748;display: block;width: 18px;height: 18px;line-height: 17px;background: none repeat scroll 0 0 #2f2b2b;margin: 18px auto;text-align: center;font-size: 12px;}
/* -------------------- FOOTER -------------------- */
/*.footer-section {background: none repeat scroll 0 0 #221918;padding: 35px 0;}*/
.footer-section {background: none repeat scroll 0 0 #222;padding-top: 35px;}
.footer-section p {color: #fff;}
.footer-section .twitter-widget {margin: 30px 0 0;}
.footer-section .twitter-widget ul li {color: #c5c5c5;}
.footer-section .twitter-widget ul li h4 {font-size: 11px;font-style: italic;color: #656363;}
.footer-section .twitter-widget ul li img {width: 74px;height: 74px;border: 3px solid #ff9311;}
.footer-section .contact-us {color: #c5c5c5;}
.footer-section .contact-us ul li .media-heading {color: #ffffff;}
/*.footer-section .contact-us ul li i {color: #3b3331;font-size: 72px;}*/
.footer-section .contact-us ul li i {
    color: #ffffff;
    font-size: 36px;
}
.privacy-section {background: none repeat scroll 0 0 #221918;text-align: center;font: bold 11px'Arial', Helvetica, sans-serif;}
.privacy-section ul {display: inline-block;margin: 4px 0;}
.privacy-section ul li {float: left;padding: 0 12px;border-left: 1px solid #c5c5c5;}
.privacy-section ul li:first-child {border-left: medium none;}
.privacy-section ul li a {color: #c5c5c5;}
/*.privacy-section ul li a:hover {color: #ff9311;}*/
.privacy-section ul li a:hover {
    color: #ffe12d;
}
.newsletter-section {background: none repeat scroll 0 0 #FFFFFF;}
.newsletter-section .input-group .form-control-wrapper {margin: 19px 0;}
.newsletter-section .input-group .form-control {width: 400px;background: none repeat scroll 0 0 #ebebeb;border: medium none;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);height: 34px;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;}
.newsletter-section .input-group .btn-default {background: none repeat scroll 0 0 #ff9311;border: medium none;color: #FFFFFF;width: 152px;margin: 0 0 0 34px;height: 72px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;font-weight: lighter;font-size: 22px;}
.newsletter-section ul li .media-heading {color: #221918;}
.newsletter-section ul li .media-body {margin: 12px 0 0;}
.newsletter-section ul li i {color: #221918;font-size: 72px;}
.copyright-section {
    color: #949494;
    text-align: center;
    font: bold 11px'Arial', Helvetica, sans-serif;
    background: #000;
}
.copyright {line-height: 30px;color: #949494; font-weight: bold;}
.box {-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;height: 30px;}
/* Extra small devices (phones, less than 768px) */

/* No media query since this is the default in Bootstrap */

/* Medium devices (desktops, 992px and up) */
 @media (max-width: 992px) {
    /*.no-padding-left {
        padding-left: 15px !important;
    }
    .no-padding-right {
        padding-right: 15px !important;
    }*/
    .newsletter-section .input-group .input-group-btn {
        display: none;
    }
    .newsletter-section .input-group .form-control {
        width: 100%;
    }
    .newsletter-section .input-group {
        width: 100%;
    }
    #nav-wrapper {
        background: none repeat scroll 0 0 transparent;
    }
    #nav-wrapper .slogan {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    #nav-wrapper .navbar-default {
        margin-bottom: 15px;
    }
    #slideshow .featured-slider-pager {
        border: medium none;
        margin: 0 0 30px 0;
        min-height: 60px !important;
    }
    header#header .navbar-form {
        line-height: 0;
    }
}
/* -------------------- ISOTOP PLUGIN -------------------- */
 .isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* -------------------- CUSTOM -------------------- */
.width-1{
    width: 100%;
}

.width-2{
    width: 90%;
}
.width-3{
    width: 80%;
}
.width-4{
    width: 70%;
}
.width-5{
    width: 60%;
}
.width-6{
    width: 50%;
}
.input-box {width: 195px;background: #ffffff repeat scroll 0 0 #ebebeb;border: medium none;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);height: 34px;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;padding: 15px;}
.float-right{
    float: right;
}
.a-btn:hover{
    color: #FFFFFF;
}
.set-color{
    color: #ff9311 !important;
}
.box-image{
    min-height: 400px !important;
    max-height: 400px !important;
}

.listing{
    display: block;
}

.listing li {text-align:center;
    float:left;
    /*background:#3e3e3e;*/
    /*border:#ff9311 1px solid;*/
    margin:0px;
    height:37px;
}

.listing li span {
    padding:10px 14px;
    float:left;
    font-size:12px;
    width:56px;
    text-decoration:none;
    color:#5ca3db;
}

.listing li a {
    /*padding:10px 14px;*/
    float:left;
    font-size:12px;
    /*width:43px;*/
    width:22px;
    text-decoration:none;
    /*color: #ffffff;*/
    color: #000000;
}

.listing li a:hover {
    color:#ff9311;
}
p.sep {
    text-align:center;
    margin-left:5px;
    width:62px;
    height:55px;
    color:#ff9311;
    background:#3e3e3e;
    border:1px solid #ff9311;
    font-size:48px;
    line-height:1em;
    font-weight:400;
}
.ul-listing{
    margin-bottom: 15px;
}
.ul-listing ul{
    list-style-type: circle; 
    border-bottom: 1px solid #dddddd;
    margin: 5px 0;
}
.ul-listing ul li{
    margin-left: 25px;
}
.ul-listing ul li a{
    color: #000000;
    font-size: 13px;
}
.ul-listing ul li a:hover{
    color: #ff9311;
}
.a-custom-button {
  background-color: hsl(36, 100%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad32", endColorstr="#cc7a00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffad32), to(#cc7a00));
  background-image: -moz-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -ms-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffad32), color-stop(100%, #cc7a00));
  background-image: -webkit-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -o-linear-gradient(top, #ffad32, #cc7a00);
  background-image: linear-gradient(#ffad32, #cc7a00);
  border-color: #cc7a00 #cc7a00 hsl(36, 100%, 35%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.custom-pagination{}
.custom-pagination ul{}
/*.custom-pagination ul li{float: left; padding: 4px;} */
.custom-pagination ul li a,
.custom-pagination ul li span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #333333;
  border: 1px solid #dddddd;
  color: #ffffff;

}
.custom-pagination ul li:first-child a,
.custom-pagination ul li:first-child span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.custom-pagination ul li:last-child a,
.custom-pagination ul li:last-child span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.disabled{
  /*position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #000000;
  border: 1px solid #dddddd;
  color: #999999;*/
}
.active{
  color: #ffffff;
  /*background: #ff9311;*/
}
.parsley-error-list,.parsley-error-list li 
{
    color: red;
}
.custom-background-color{
    /*background-color: #ebebeb;*/
    background-color: #dddddd;
}
.message{
    font-size: 12px;
    color: red;
    margin-bottom: 10px;
}
.ads-img{
    width: 300px !important;
    height: 250px !important;
    margin-bottom: 15px;
}

.primary-nav .p-nav-divider{
    color: #5a5a5a;
    width: 8px;
}

.primary-nav li{
    text-align: center;
    display: table-cell;
    width: auto;
    float: none;
    padding: 0;
    cursor: default;
}

.not-found{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    float: none;
    background: #f0f0f0;
    padding: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 4px solid #8dc63f;
    min-height: 400px;
}

.not-found h1{
    text-align: center;
    margin-top: 150px;
}

/*Apple Search Box*/
#search {

}

#search input[type="text"] {
    background: url(../img/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: 12px Arial,Helvetica,Sans-serif;
    /*color: #bebebe;*/
    color: #333;
    width: 220px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    /*width: 200px;*/
}

.select-city {

    width:200px; 
    height: 29px; 
    margin-left: 10px;
    padding:3px;
    /*margin: 0;*/
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    /*-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
    background: #f8f8f8;
    color:#333;
    border:none;
    outline:none;
    display: inline-block;
    /*-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;*/
    cursor:pointer;
}

.price-off{
    color: #8dc63f !important;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.button {
    display: block; 
    font-size: 12px; 
    text-decoration: none!important; 
    font-family: Helvetica, Arial, sans serif;
    padding: 4px 6px; 
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    box-shadow: inset 0px 0px 2px #fff;
    -o-box-shadow: inset 0px 0px 2px #fff;
    -webkit-box-shadow: inset 0px 0px 2px #fff;
    -moz-box-shadow: inset 0px 0px 2px #fff;
    min-width: 80px;
    /*float: right;*/
}
.button:active {
    box-shadow: inset 0px 0px 3px #999;
    -o-box-shadow: inset 0px 0px 3px #999;
    -webkit-box-shadow: inset 0px 0px 3px #999;
    -moz-box-shadow: inset 0px 0px 3px #999;
}
/* The styles for the green button */
.btn-green {
    /*color: #5a742d;*/
    color: #fff;
    /*border: 1px solid #95b959;*/
    /*background-image: -moz-linear-gradient(#cae387, #a5cb5e);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5cb5e), to(#cae387));
    background-image: -webkit-linear-gradient(#cae387, #a5cb5e);
    background-image: -o-linear-gradient(#cae387, #a5cb5e);*/
    /*text-shadow: 1px 1px 1px #dff4bc;*/
    /*background-color: #a5cb5e;*/
    background-color: #8dc63f ;
}
.btn-green:hover {
    /*border: 1px solid #687e30;
    background-image: -moz-linear-gradient(#a5cb5e, #cae387);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cae387), to(#a5cb5e));
    background-image: -webkit-linear-gradient(#a5cb5e, #cae387);
    background-image: -o-linear-gradient(#a5cb5e, #cae387);
    background-color: #cae387;*/
    color: #fff;
}
.btn-facebook{
    background-color: #3B5998;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    box-shadow: 2px 2px 2px #111;
    width: 100%;
    height: 40px;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 10px 0;
}
.icon-background{
    background: #666;
    color: #fff;
    /*-webkit-border-radius: 50%;
    border-radius: 50%;*/
    display: block;
    font-size: 21px;
    height: 32px;
    line-height: 21px;
    margin: 0;
    padding: 6px 0 4px 1px;
    text-align: center;
    text-decoration: none;
    width: 32px;
}
.side-title{
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    padding: 10px 0;
}
div.categories-wrapper{
    margin-bottom: 24px;
}
div.category-name input{
    margin-right: 2px;
    margin-bottom: 0;
    vertical-align: top;
}
ul.subcategory-list{
    padding: 0 18px;
}
ul.subcategory-list li div.category-name{
    margin: 5px 0;
}
li.category{
    padding: 6px 0;
    border-top: 1px solid #ccc;
    /*border-bottom: 1px solid #ccc;*/
}
div.category-name a{
    color: #333;
}
div.category-name a:hover{
    color: #5a742d;
}
.category-name .name{
    font-size: 12px;
    color: #333;
    /*text-transform: uppercase;*/
}
.deal-counts{
    font-size: 12px;
    color: #8dc63f ;
}
.featured-deal{
    margin-left: 465px; 
    padding: 0 0 0 10px; 
    min-height: 264px;
}
.new-project-body h4{
    font-size: 16px;
    color: #222;
}
.new-project-body p{
    color: #888;
    padding: 5px 0 5px;
    font-size: 13px;
}
.add-min-height{
    min-height: 50px !important;
}
.nav-menu li{
    float: left !important;
}

/*For Registration Form*/
.register-form{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    float: none;
    /*background: #f0f0f0;*/
    width: 960px; 
    margin: 20px auto; 
    /*padding: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 7px solid #8dc63f;
    box-shadow: 0 0 20px 0 #000000;*/
}
.register-form h1{
    font-size: 28px;
    margin: 0 0 10px;
    border-bottom: 1px solid #8dc63f;
    padding: 5px 10px 10px 0;
    color: #555;
}
.register-form legend{
    color: #8dc63f;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px #c0d576;
}
.register-form ol li {
    line-height: 30px;
    list-style: none;
    padding: 5px 0px;
    margin-bottom: 2px;
}
.register-form ol ol li {
    background: none;
    border: none;
    float: left;
}
.register-form label {
    float: left;
    font-size: 0.9em;
    width: 125px;
    text-align: right;
    padding-right: 5px;
}
.register-form fieldset {
    border-radius: 4px;
    border-color: rgba(4, 129, 177, 0.4);
}
.register-form fieldset fieldset label {
    background:none no-repeat left 50%;
    line-height: 20px;
    padding: 0 0 0 30px;
    width: auto;
}
.register-form fieldset fieldset label:hover {
    cursor: pointer;
}
.register-form input,
.register-form textarea, 
.register-form select{
    /*background: rgba(0, 0, 0, 0.07);*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    /*font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;*/
    width: 65%;
    height: 34px;
    /*color: #aaa;*/
    /*color: #333;*/
    border-style: solid;
    border-color: #e5e5e5;
    padding: 0 5px;

    /* styling for placeholder */
    /* do not group these rules */
    /**::-webkit-input-placeholder {
      color: red;
    }
    *:-moz-placeholder {
      color: red;
    }
    *:-ms-input-placeholder { 
      color: red;
    }*/
}

.register-form input,
.register-form textarea{
    color: #333;
}

.register-form input[type="checkbox"]{
    height: 15px !important;
    padding: 0 !important;
}

.register-form select{
    color: #333;
    padding: 5px;
}
.register-form select.small-width{
    width: 30% !important;
}
.register-form textarea{
    resize:none; 
    min-height:80px;
}
.register-form input:not([type=submit]):focus,
.register-form textarea:focus {
    background: #eaeaea;
}
.register-form input[type=radio] {
    float: left;
    margin-right: 5px;
}
.register-form button {
    background: #222;
    border: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font: 18px Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    width: 160px;
    margin:10px auto;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;

    margin-top: 30px;
}
.register-form button:hover {
    background: #8dc63f ;
    cursor: pointer;
}

/*For Subcribe Form*/
.subscribe-form{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    float: none;
    background: #f0f0f0;
    width: 730px; 
    height: 360px;
    margin: 60px auto; 
    padding: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 7px solid #8dc63f;
    box-shadow: 0 0 20px 0 #000000;
}
.subscribe-form h1{
    font-size: 28px;
    margin: 0 0 30px;
    border-bottom: 2px solid #8dc63f;
    padding: 5px 10px 10px 0;
}
.subscribe-form legend{
    color: #8dc63f;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px #c0d576;
}
.subscribe-form ol li {
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
}
.subscribe-form ol ol li {
    background: none;
    border: none;
    float: left;
}
.subscribe-form label {
    float: left;
    font-size: 0.9em;
    width: 20%;
    text-align: right;
    padding-right: 5px;
}
.subscribe-form fieldset {
    border-radius: 4px;
    border-color: rgba(4, 129, 177, 0.4);
}
.subscribe-form fieldset fieldset label {
    background:none no-repeat left 50%;
    line-height: 20px;
    padding: 0 0 0 30px;
    width: auto;
}
.subscribe-form fieldset fieldset label:hover {
    cursor: pointer;
}
.subscribe-form input:not([type=radio]),
.subscribe-form textarea{
    /*background: rgba(0, 0, 0, 0.07);*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    /*font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;*/
    width: 80%;
    color: #333;
    border-style: solid;
    border-color: #e5e5e5;
    padding: 0 5px;
}
.subscribe-form select{
    padding: 5px;
}
.subscribe-form select.small-width{
    width: 30% !important;
}
.subscribe-form textarea{
    resize:none; 
    min-height:80px;
}
.subscribe-form input:not([type=submit]):focus,
.subscribe-form textarea:focus {
    background: #eaeaea;
}
.subscribe-form input[type=radio] {
    float: left;
    margin-right: 5px;
}

.subscribe-form input{
    height: 34px;
}
/*.subscribe-form button {
    background: #222;
    border: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font: 18px Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    margin: auto;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}*/
.subscribe-form button:hover {
    background: #8dc63f ;
    cursor: pointer;
}
.red-star {
    color: #FF0000;
}
.show-error{
    display: none;
    margin: 5px;
    text-align: right;
}
.show-error p{
    color: #FF0000;
    font-size: 12px;
    font-weight: bold;
}
.category-reset{
    /*width:220px;*/
    width: 100%;
    display:inline-block;
    line-height:27px;
    padding:0;
    color:#0084c9;
    text-decoration:none;
    background-color:#e3f3fb;
    position:relative;
    min-height:1px;
    /*cursor:pointer;*/
}
/*.labels{
    color: #8dc63f ;
    font-size: 12px;
    background: #fff;
    padding: 1px;
    border: 1px solid #ccc;
}*/
.labels{
    color: #8dc63f ;
    font-size: 12px;
    background: #fff;
    padding: 1px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    pointer-events: none;
    text-align: center;
    /*width: 60px;*/
    white-space: nowrap;
}
/*.labels {
      position: absolute;
      width: 100px;
      height: 20px;
      line-height: 20px;
      padding: 1px;
      font-size: 14px;
      text-align: center;
      color: rgb(113, 157, 171);
      background: rgb(255, 255, 255);
      border: 1px solid rgb(204, 204, 204);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}

.labels:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #FFFFFF transparent transparent transparent;
      top: 20px;
      left: 42px;
}*/

/* 2014-07-14 */
.deal-img-container{
    width: 223px;
}
.deal-img-container img{
    width: 223px;
    height: 133px;
}
.business-img-container{
    width: 225px;
}
.business-img-container img{
    width: 225px;
    height: 225px;
}

#cart{        
    color: #BBB ;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

#cart-icon{
    width: 20px; 
    height: 17px;
    float:left;
    background: url(../img/cart-grey.png);
    background-size: 20px 17px;
    margin-right: 5px;
}

#cart-count{
    color: #8dc63f ;
    /*font-weight: bold;*/
    /*padding: 0 6px;*/
    font-size: 20px;
    margin-right: 5px;
    /*border: 1px solid white;*/
    /*background: white ;*/
    /*position: absolute;*/
    /*top: -15px;*/
    /*left: -10px;*/
    float:left;

    /*-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;*/
}

#cart a{
    color: #BBB;
    margin-top: 2px;
    float: left;
    text-transform: uppercase;    
    font-size: 12px;
}

#cart a:hover{
    color: #EEE;
    cursor: pointer;
}

#cart .active{
    color: #8dc63f ;
}

#cart .active > #cart-icon{
    background: url(../img/cart-active.png);
    background-size: 20px 17px;
}

#cart a:hover > #cart-icon{
    background: url(../img/cart-white.png);
    background-size: 20px 17px;
    cursor: pointer;
}

#down-icon{
    width: 10px; 
    height: 10px;
    float:right;
    background: url(../img/down-grey.png);
    background-size: 10px 10px;
    margin-left: 5px;
    margin-top: 4px;
}

#cart .active > #down-icon{
    background: url(../img/down-active.png);
    background-size: 10px 10px;
}

#cart a:hover > #down-icon{
    background: url(../img/down-white.png);
    background-size: 10px 10px;
    cursor: pointer;
}

#separator{
    margin: 0 10px;
    float: left;
}

#cart-item-count{
    padding-left: 10px;
    font-size: 25px;
    float: right;
}

#cart-menu{
    position: absolute;
    
}

#cart #user-drop-menu{
    width: 200px;
    border: 1px solid #CCC;
    background: white;
    position: absolute;
    right: 0px;
    top: 23px;
    z-index: 99999;
    display: none;

    -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 14px rgba(0, 0, 0, .4);
    box-shadow: 0 0 14px rgba(0, 0, 0, .4);

    padding-top: 7px;
    padding-bottom: 7px;
}

#user-drop-menu ul{
    width: 100%;
    height: 100%;
    background: white;
}

#user-drop-menu ul li a{
    width: 100%;
    padding: 2px 15px;
    color: #666;
    font-size: 13px;

    text-transform: none;
}

#user-drop-menu ul li a:hover{
    /*color: #8dc63f ;*/
    color:white !important;
    background: #8dc63f ;
}

.account-menu {
    width: 100%;
}

.account-menu li a{
    padding: 2px 10px;
    color: #444;
    float: left;
    margin-right: 20px;
}

.account-menu li a:hover,
.account-menu .active > a {
    cursor: pointer;
    color: #8dc63f ;
    background: #EEE;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

#history-list{
    width: 100%;
    font-size:12px;
}

#history-list tr,
#history-list td,
#history-list th{
    vertical-align: top;
    padding: 3px;
    border: 1px solid #DDD;
    border-left: none;
    border-right: none;
}

#history-list th{
    background: #EEE;
    text-transform: uppercase;
    border-top: 2px solid #888;
    padding-top:7px;
    padding-bottom: 7px;
}

#history-list th{
    text-align: left;
}
#history-list tr:hover{
    background: #EEE;
}

#item-list-modal{

    display: none;

    position: fixed;
    width: 900px;
    height: 475px;
    /*border: 5px solid #8dc63f;*/
    /*border-radius: 10px;*/
    background: white;
    top: 0px;
    left: 50%;
    top: -200%;

    margin-left: -450px;
    /*margin-top: -300px;*/

    z-index: 99999;
    padding: 10px;
    max-height: 500px;
    box-shadow: 0px 0px 20px #333;
    /*overflow-y: scroll;*/
}

#item-detail-modal{
    position: fixed;
    width: 800px;
    height: 400px;
        
    background: white;
    top: 0px;
    left: 50%;

    margin-left: -400px;
    margin-top: -200%;

    z-index: 99999;
    padding: 10px;
    max-height: 400px;

    box-shadow: 0px 0px 10px #333;
    display: none;
}

#item-detail-modal .title{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #CCC;
}

#item-detail-modal .title h3{
    font-size: 22px;
    float: left;
}


#item-detail-modal .title #close-modal{
    float: right;
    padding-right: 10px;
}

#item-detail-modal .title #close-modal:hover{
    color:red;
    cursor: pointer;
}

#item-detail-modal .content{
    margin-top: 40px;
    width: 100%;
    /*border: 1px solid red;*/
    height: 300px;
    position: relative;
}

#item-detail-modal .content #image{
    float: left;
    width: 400px;
    height:240px;

    border: 1px solid #CCC;
}

#item-detail-modal .content #desc{
    float: left;
    width: 360px;
    height:300px;
    max-height: 300px;
    margin-left: 15px;

    overflow-y: scroll;
}

#item-detail-modal .footer{
    position: absolute;
    bottom: 0px;
    width: 97.5%;
    height: 50px;
}

.confirm-modal{

    position: fixed;
    width: 500px !important;
    height: 200px !important;
    /*border: 5px solid #8dc63f;*/
    /*border-radius: 10px;*/
    background: white;
    top: 0px;
    left: 50%;
    top: -200%;

    margin-left: -250px;
    /*margin-top: -300px;*/

    z-index: 99999;
    padding: 10px;
    box-shadow: 0px 0px 20px #333;
    /*overflow-y: scroll;*/
}

.confirm-modal #item-detail-modal{
    position: absolute;
    width: 500px !important;
    height: 200px !important;
    border: 5px solid #8dc63f;
    border-radius: 10px;
    background: white;
    top: 0px;
    left: 50%;
    top: 50%;

    margin-left: -250px;
    margin-top: -100px;

    z-index: 99999;
    padding: 10px;
    max-height: 500px;

    box-shadow: 0px 0px 10px #333;
    overflow-y: scroll;
}

#item-list-modal #close,
.confirm-modal #close{
    position: absolute;
    right: 5px;
    top: 0px;
    padding: 10px;
}

#item-list-modal #close:hover,
.confirm-modal #close:hover{
    cursor: pointer;
    color: red;
}

.footer-action{
    position: absolute;
    border-top: 1px solid #CCC;
    width: 96%;
    margin-top:20px;
    bottom: 10px;
    padding-top: 10px;
}

#item-list-modal #item-content{
    clear: both;

    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 370px;
    max-height: 370px;
    /*border: 1px solid blue;*/
    float: left;

    overflow-y: scroll;
}

#item-list-modal #item-img{
    float:right;
    width: 50%;
    height: auto;
    max-height: 400px;
    padding: 5px;
    border: 1px solid #CCC;
}

#detail-table{
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    padding: 5px;
    vertical-align: top;

    border-left: none;
    border-right: none;
}

#detail-table tr, 
#detail-table th, 
#detail-table td{
    border: 1px solid #CCC;
    padding: 5px;
    vertical-align: top;

    border-left: none;
    border-right: none;
}

#detail-table th{
    padding: 10px;
    padding-left:5px;
    background: #EDEDED;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-top: 5px solid #999;
}

.item-img:hover{
    cursor: pointer;
}

#detail-table tbody tr:hover > td{
    /*background: #EFEFEF;*/
}

.labels-branch{
  color: black;
  padding: 5px 10px 5px 10px;
  background: #9AD8F9;
  font-weight: bold;
  text-align: center;
}

#blur-background{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0px;
    display: none;
}

#message-box{
    position: absolute;
    top:30%;
    left: 35%;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: rgba(0,0,0, 0.8);
    color: white;

    border-radius: 10px;
}

.my-btn:focus{
    background: transparent;
    
}

span.list-expand{

    font-size:15px; 
    font-weight:bold; 
    color: black;

}

span.list-expand:hover{
    cursor: pointer;
}

.row-expand{
    background: #D4F9B8 !important;
}

.sub-row{
    display: none;
    background: #FFFEE7 !important;
}

.merchant-popup{
    position: absolute;
    right:12px;
    top: 30px;
    z-index: 9999;
    min-height: 50px;
    display: none;

    width: 140px;
    background: white;

    padding-top: 10px;
    padding-bottom: 10px;
}
.merchant-popup ul{
    width: 100%;
}
.merchant-popup ul li {
    padding: 5px 10px;
    width: 100%;
    color: #8dc63f ;
}

.merchant-popup ul li a{
    color: #8dc63f ;
}

.merchant-popup ul li:hover{
    background: #8dc63f ;
    color:white;
}

.merchant-popup ul li:hover > a{
    color:white;
}

.div-img{
    position: relative;
}

.div-img .view-detail{
    position: absolute;
    width: 100%;
    height:100%;
    background: rgba(129, 129, 129, 0.46);
    top:0px;

    display: none;

}

.div-img .view-detail .icon{
    position: absolute;
    width: 20px;
    height: 20px;

    top: 50%;
    left: 50%;

    margin-left: -10px;
    margin-top: -10px;
        
}

.div-img .view-detail:hover{
    cursor: pointer;
}

td{
vertical-align: top;
}


iframe{
    width: 250px;
    height: 170px;
}


/*Merchant Welcome*/

.full-width{
    width: 100%;
    padding: 30px;
    /*background: #666;*/
    min-height:700px; 
    max-height:700px; 

    min-width: 970px;

    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.full-width .background{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: url(../img/merchant-bgs/1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#log-in-form{
    
    background: white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    -webkit-box-shadow: 3px 4px 23px -4px rgba(97,97,97,1);
    -moz-box-shadow: 3px 4px 23px -4px rgba(97,97,97,1);
    box-shadow: 3px 4px 23px -4px rgba(97,97,97,1);
    
    min-height: 100px;
    padding:20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.merchant-top-bar{
    width: 100%;
    position: fixed;
    height: 70px;
    left: 0px;
    top:0px;
    background: #222;

    -webkit-box-shadow: 0px 20px 100px 30px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 20px 100px 30px rgba(0,0,0,0.5);
    box-shadow: 0px 20px 100px 30px rgba(0,0,0,0.5);


}

.overlay{
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.4;
}


.welcome-merchant{
    margin:0px; 
    width: 970px;
    margin: 0 auto;
    min-height: 700px;
    /*max-height: 700px;*/
    color: white !important;
    margin-bottom: 50px;
}

.welcome p{
    font-size: 16px !important;
}

.welcome ul{
    padding-left:20px;
}
.welcome ul li{
    list-style: disc; ;
}


