.haader{
	
}
span {
	font-size: 16px;
}
.font-25{
	font-size: 25px;
}
.padding-top-10{
	padding-top:10px;
}
.padding-top-20{
	padding-top:20px;
}
.padding-top-30{
	padding-top:30px;
}
.padding-top-40{
	padding-top:40px;
}
.margin-top-50{
	margin-top:50px;
}
.padding-bottom-10{
	padding-bottom:10px;
}
.padding-bottom-20{
	padding-bottom:20px;
}
.padding-bottom-30{
	padding-bottom:30px;
}
.padding-bottom-40{
	padding-bottom:40px;
}
.padding-bottom-50{
	padding-bottom:50px;
}
.margin-top-20{
	margin-top:20px;
}
.margin-top-30{
	margin-top:30px;
}
.margin-top-40{
	margin-top:40px;
}
.margin-top-50{
	margin-top:50px;
}
.margin-bottom-10{
	margin-bottom:10px;
}
.margin-bottom-20{
	margin-bottom:20px;
}
.margin-bottom-30{
	margin-bottom:30px;
}
.margin-bottom-40{
	margin-bottom:40px;
}
.margin-bottom-50{
	margin-bottom:50px;
}
.center{
	margin:0px auto;
}
.full-width{
	width:100%;
	height:auto;
}
.bg-header{
	background-color: #8ec641;
}
.color-white{
	color:#fff;
}
.color-black{
	color:#000;
}
.padding-20{
	/*padding:20px 20px 0px 20px;*/
	padding-top:20px;
}
.padding-bottom-20{
	padding-bottom:20px;
}
.padding-left-20{
	padding-left:20px;
}
.no-margin{
	margin:0px;
}
.text-center{
	text-align: center;
}
ul{
	list-style: none;
	display: inline-block;
}
ul li{
	display: inline-block;
}
.main-menu{
	padding-top: 20px;
	background-color: #8EC641 !important;
    background-image: none;
    border: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.no-margin{
	margin-left:0px;
	margin-right:0px;
}
.no-padding-top{
	padding-top:0px;
}
.no-padding-left{
	padding-left:0px;
}
.no-padding-right{
	padding-right:0px;
}
.no-padding-lr{
	padding-left:0px;
	padding-right:0px;
}
.search{
	padding-left: 25px;
    padding-right: 25px;
}
.main-menu ul li.active{
	border-bottom: 6px solid #fff;
}
.discount-price{
	color:#8ec641;
}
.original-price{
	color:#BCBCBC;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.block-item{
	/*margin-top:10px;*/
	padding: 10px;
}

.item-detail{
	padding-bottom:20px;
	background-color:#fff; 
	padding-top: 7px;
}
.merchant-block{
	margin-top:10px;
	background-color: #fff;
	margin:10px;
	
}
.bg-merchant{
	background-color: #BCBCBC;
}
img{
	width:100%;
}
.itme-detail-name{
	background-color: #0F8251;
	margin-top:-30px;
}
.itme-detail-name div{
	padding-left:10px;
	padding-right:10px;
	font-size: 45px;
	background-color: #0F8251;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #fff;
}
.calculate {
	margin-top:30px;
}
.calculate .item-type{
	padding-bottom:45px;
}
.result-calculat{
	padding-top:30px;
}
.calculate span{
	padding-left:20px;
}
.term-and-condition span{
	padding-left:20px;
}
.item-detail-type{
	padding-left:20px;
}
.item-detial-bg{
	background-color: #E6E5E5;
}
.arrow-back{
	position:absolute;
	top:45px;
	left:50px;
	z-index: 10;
	color:white;
	width:20px;
	height:auto;
	font-size: auto;
}
.single-item .slick-dots{
	bottom: 0px;
}
.item-detail-bg{
	/*background-color: #f0f;*/
}
.cost-price{
	color: #8ec641;
}
.circle{
	border: 2px solid;
    border-radius: 42%;
    padding: 0px 5px 4px 5px;
}
.wrap-setting{
	background-color: #BCBCBC;
}
.cost{
	border: 1px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 240px;
    margin-top: 25px;
}
.cost i{
	font-size: 35px;
	padding: 4px;
}
.padding-left-25{
	padding-left:25px;
}
.setting-head{
	padding-top: 50px;
    padding-left: 25px;
    padding-bottom: 35px;
    background-image:url("../../img/mobile/Side-menu-xxhdpi-01-01.png");
}
.setting-head a{
	text-decoration: none;
	color:white;
}
.search button{
	border:0px;
	background-color: #8ec641;
}
.no-padding-lr li a{
	background-color: #8EC641 !important;
    background-image: none !important;
    box-shadow: none !important;
}
.bg-header i{
	font-size: 70px;
}
.setting-head a,.setting-head span{
	font-size: 40px;
}
.setting-content{
	background-color: #fff;
	padding-top: 20px;
	padding-bottom:20px;
}
.setting-content span{
	font-size: 40px;
}
.myCoupons i{
	font-size: 40px;
}
.myProfile i{
	font-size: 40px;	
}
.myFriend i{
	font-size: 40px;	
}
.setting-menu{
	margin-top: 10px;
    font-size: 40px;
    padding-left:35px;
}
.setting-image{
	width: 50px;
    margin-top: -5px;
}
.item-name{
	padding-left: 15px;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top:20px;
}
.user-info{
	padding: 50px 0px 0px 20px;
}
.more-info{
	padding: 30px 0px 0px 20px;
}
.user-info > .row{
	margin-bottom:50px;
}
.user-info .setting-menu a{
	color:#000;
}
.more-info .setting-menu a{
	color:#000;
}
.user-info a{
	color:#BCBCBC;
}
.more-info > .row{
	margin-bottom:50px;
}
.full-height{
	padding-bottom:104%;
}
.item-detail .item-type, .original-price, .discount-price{
	font-size: 45px;
	padding-top:30px;
	padding-bottom:10px;
}
.main-bg{
	
}
.full-bg{
	background-color: #E4E4E4;
	padding-top: 1px;
}
.merchant-name{
	font-size: 38px;
	padding-top:20px;
	font-weight: bold;
}
.merchant-type, .merchant-address{
	font-size: 30px;
	color:#BCBCBC; 
}
.merchant-subscribe{
	padding-left: 20px;
    font-size: 26px;
    padding-bottom: 15px;
    color: #349278;
}
.merchant-block .merchant-name,.merchant-block .merchant-type ,.merchant-block .merchant-address{
	padding-bottom:50px;
}
.line{
	border:1px solid ;
}
.line-bottom{
	border-bottom: 2px solid #ccc;
}
.btnSearch{
	border: 0px;
    background-color: #fff;
}
.des-caption{
	padding-top: 30px;
    padding-left: 20px;
    font-size: 35px;
    font-weight: bold;
}
.item-description span p{
	padding-left:20px;
	font-size: 28px;
}
.map{
	margin:20px;
	border:2px solid #fff;
}
.term-and-condition span p{
	padding-left: 20px;
    font-size: 25px;
}
.page-detail .arrow-back a{
	border:0px;
	color:#fff;
	background-color: transparent;
}
.page-detail .arrow-back a i{
	font-size: 70px;
}
.text-center{
	text-align: center;
}
.merchant-logo-index{
	
}
.merchant-logo{
	position: inherit;
	top:140px;
	left:40px;
	padding-bottom: 150px;
}
.header-background{
	background-color: #BCBCBC;
}
.branch-name{
	font-size: 50px;
	color:#fff;
}
.merchant-type{
	font-size: 40px;
	color:#fff;
}
.branch-name ,.merchant-type{
	padding-bottom:30px;
}
.merchant-des {
	background-color: #fff;
	padding-top:30px;
	padding-bottom:30px;	
}
.merchant-des span p{
	font-size: 26px;
	padding-left:20px;
}
.contact-caption{
	padding-left:20px;
	font-size: 30px;
	background-color: #BCBCBC;
	padding-top:20px;
	padding-bottom:20px;
}
.merchant-info{
	padding-top: 30px;
    padding-bottom: 30px;
}
.merchant-info i{
	padding-left:20px;
	font-size: 35px;
	padding-bottom: 20px;
	padding-top:10px;
}
.merchant-info .col-xs-9{
	font-size: 35px;
	padding-bottom: 20px;
	border-bottom: 1px solid;
	padding-top:10px;
}
.no-border{
	border:0px !important;
}
.result-calculat span{
	font-size: 45px;
}
.shopping-cart{
	position: fixed;
	bottom:50px;
	right:50px;
}
.btn-shopping-cart{
	width: 150px;
    height: 150px;
    border: 0px;
    padding: 30px;
    border-radius: 50%;
    background-color: #8EC641;
}
.button-back{
	border: 0px;
    background-color: transparent;
    color:#fff;
    font-size: 70px;
}
.item-list{
	margin-top: 35px;
	background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 35px;
}
.item-list-header > div{
	font-size: 45px;
	padding-left: 20px;
}
.item-list-header > .pull-right > a {
	padding: 10px 25px;
    background-color: #8dc63f;
    border-radius: 10px;
    margin-right: 20px;
    color: #fff;
}
.item-list-theader{
	/*margin-left: 20px;*/
    font-size: 30px;
    margin-top: 30px;
    border-top: 3px solid #999;
    /*margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;*/
}
.list-pakack-item-head{
	font-size: 32px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #E4E4E4;
}
.row-bg{
	background-color: #E4E4E4;	
}
.condition span p{
	font-size: 28px;
	padding-left: 20px;
}
.deal-company span p{
	font-size: 28px;
	padding-left:20px;
}
.custom-modal{
	width: 100%;
	padding:50px;
}
.modal-body > .col-xs-8 > p{
	font-size: 30px;
}
.modal-body > .col-xs-8 > p > a{
	font-size: 30px !important;
}
.purchase-header{
	font-size:20px;
}
.purchase-header-style{
	border-top: 5px solid #999;
	border-bottom:1px solid ;
	background-color: #EDEDED;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
}
.purchase-listing .row .col-xs-2{
	font-size: 32px;
    padding-top: 18px;
}
.cros{
	font-size: 50px;
}
.perchase-text-align{
	padding-top: 10px;
}
.total-amount{
	float:left;
	font-size: 32px;
}
.draggable > .slick-track {
	/*width:auto !important;*/
}