<footer class="footer">

	<!-- Footer Container -->
    <div class="container">
		<!-- Footer Container: Content -->       
		<b>All Right Reserved. Copyright &copy; 2014 - All Deal</b>
	    <!-- / Footer Container: Content -->
	</div>
    <!-- / Footer Container -->

</footer>
